<div class="feedback">
    <div class="feedback-img" hidden>
        <img class="feedback-image" src="~/images/Owl.png">
    </div>
    <div class="feedback-desc">
        <div class="feedback-desc-text">
            <p class="feedback-desc-title">Помочь с выбором?</p>
            <p>
                Оставьте заявку и наши специалисты свяжутся с вами, ответят на все вопросы
                и подберут подходящий вариант обучения.
            </p>
        </div>
    </div>
    <form class="feedback-form">
        <input class="form-input" type="text" placeholder="Ваше имя">
        <div class="feedback-contacts">
            <input type="text" class="form-input" placeholder="Ваш телефон">
            <input type="text" class="form-input" placeholder="Ваш e-mail">
        </div>
        <div class="feedback-submit">
            <p>
                Нажимая на кнопку, я соглашаюсь
                на обработку персональных данных
                и с правилами пользования Платформой
            </p>
            <input class="form-submit" type="submit">
        </div>
    </form>
</div>