<div class="footer">
    <div class="footer-col">
        <img class="logo" src="~/images/logo.png">
        <h5 class="phone-number">МЕЖИНТЕХКОМ</h5>
        <a class="footer-col-link phone-number" href="#">8 (495) 122-20-06</a>
        <p class="footer-col-link address">117342, Г. МОСКВА, ВН.ТЕР.Г. МУНИЦИПАЛЬНЫЙ ОКРУГ КОНЬКОВО, УЛ БУТЛЕРОВА, Д. 17Б, ЭТАЖ/ПОМЕЩ. 3/XII, КОМ./ОФИС/К. 86/3/97</p>
        <p class="footer-col-link">info@mezhintekhkom.ru</p>
        <div class="social">
            <img class="social-ico" src="~/images/Vkontakte.png">
            <img class="social-ico" src="~/images/facebook.png">
            <img class="social-ico" src="~/images/instagram.png">
            <img class="social-ico" src="~/images/youtube.png">
            <img class="social-ico" src="~/images/telegram.png">
        </div>
    </div>
    <div class="footer-col">
        <p class="footer-col-head">Учебный центр</p>
        <a class="footer-col-link" href="#">Расписание занятий</a>
        <a class="footer-col-link" href="#">Каталог курсов</a>
        <a class="footer-col-link" href="#">Проекты</a>
        <a class="footer-col-link" href="#">Преподаватели</a>
        <a class="footer-col-link" href="#">Отзывы</a>
    </div>
    <div class="footer-col">
        <p class="footer-col-head">Услуги</p>
        <a class="footer-col-link" href="#">Охрана труда и аудит</a>
        <a class="footer-col-link" href="#">Рекрутмент</a>
        <a class="footer-col-link" href="#">Консультирование по вопросам коммерческой деятельности</a>
        <a class="footer-col-link" href="#">Полиграфическая деятельность</a>
        <a class="footer-col-link" href="#">Мероприятия</a>
    </div>
    <div class="footer-col">
        <p class="footer-col-head">Взрослым</p>
        <a class="footer-col-link" href="#">Разработчик игр на Unity</a>
        <a class="footer-col-link" href="#">Разработка ПО</a>
        <a class="footer-col-link" href="#">Графический дизайн</a>
        <a class="footer-col-link" href="#">Тестировщик ПО</a>
        <a class="footer-col-link" href="#">Интернет маркетинг</a>
        <a class="footer-col-link" href="#">Java-разработчик</a>
        <a class="footer-col-link" href="#">Python-разработчик</a>
    </div>
    <div class="footer-col">
        <p class="footer-col-head">Информация</p>
        <a class="footer-col-link" href="#">Об академии</a>
        <a class="footer-col-link" href="#">Мероприятия</a>
        <a class="footer-col-link" href="#">Новости</a>
        <a class="footer-col-link" href="#">База знаний</a>
        <a class="footer-col-link" href="#">Карьера</a>
        <a class="footer-col-link" href="#">Контакты</a>
    </div>
    <a id="to-top" href="#header">^</a>
</div>