<div id="header">
    <div class="header-container">
        <a href="/">
            <img class="logo" src="~/images/logo.png">
            <h5>Межинтехком</h5>
        </a>
        <div class="nav">
            <div class="nav-item btn-group">
                <a asp-controller="Home" asp-action="About">О нас</a>
                <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#"></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Information">Основные сведения</a></li>
                    <li><a class="dropdown-item" href="#">Сертификаты</a></li>
                    <li><a class="dropdown-item" href="#">Достижения</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Teachers">Преподаватели</a></li>
                    <li><a class="dropdown-item" href="#">Наши клиенты</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-fragment="reviews-block">Отзывы</a></li>
                    <li><a class="dropdown-item" href="#">Вакансии</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-fragment="questions">Ответы на вопросы</a></li>
                </ul>
            </div>
            <a class="nav-item" href="#">Проекты</a>
            <div class="nav-item btn-group">
                <a asp-controller="Identity" asp-action="Index">Учебный центр</a>
                <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#"></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Личный кабинет</a></li>
                    <li><a class="dropdown-item" href="#">Расписание занятий</a></li>
                    <li><a class="dropdown-item" asp-controller="Identity" asp-action="Courses" asp-route-id="">Каталог курсов</a></li>
                    <li><a class="dropdown-item" asp-controller="Identity" asp-action="Useful">Полезные материалы</a></li>
                </ul>
            </div>
            <a class="nav-item" asp-controller="News" asp-action="Index">Новости</a>
            <div class="nav-item dropdown">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">Услуги</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Services" asp-action="LaborProtection">Охрана труда</a></li>
                    <li><a class="dropdown-item" href="#">Рекрутмент</a></li>
                    <li><a class="dropdown-item" href="#">Консультирование</a></li>
                    <li><a class="dropdown-item" href="#">Полиграфическая деятельность</a></li>
                    <li><a class="dropdown-item" asp-controller="Events" asp-action="Index">Мероприятия</a></li>
                </ul>
            </div>
            <a class="nav-item" asp-controller="Home" asp-action="Contacts">Контакты</a>
        </div>
        <a class="btn-blue" href="#">Перезвонить мне</a>
        <form class="search">
            <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
            <input type="text">
            <input class="search-submit" type="submit" value="Найти">
        </form>
    </div>
</div>