@{
    ViewBag.Title = "О нас";
}
<div class="content-container">
    @await Html.PartialAsync("NavigationPartial")
    <h3>Обращение генерального директора</h3>
    <div class="row about">
        <img src="~/images/avatars/god.jpg"/>
        <div class="col">
            <p>Дорогие друзья!</p>
            <p>Я рад приветствовать Вас на нашем официальном интернет-ресурсе. Здесь Вы сможете получить интересующую Вас информацию о деятельности нашего Учебного Центра, об основных направлениях образовательной деятельности и познакомиться с планами и перспективами Центра. На страницах сайта мы постараемся дать ответы на все интересующие Вас вопросы.</p>
            <p>Наш Центр предлагает компаниям, организациям свыше 250 программ подготовки, профессиональной переподготовки и повышения квалификации рабочих, ИТР, руководителей и специалистов.</p>
            <p>Центр имеет современную учебную базу, оснащенную всеми необходимыми техническими средствами. Обучение в Центре проводят высококвалифицированные преподаватели, в том числе, эксперты из крупных компаний и другие представители научного сообщества.</p>
            <p>Мы предлагаем гибкую систему цен и индивидуальный подход к формированию корпоративного образовательного заказа.</p>
            <p>В основу успеха мы ставим удовлетворенность заказчиков результатами нашей работы, и мы делаем все возможное для этого, о чем свидетельствуют благодарные отзывы и развивающиеся партнерские отношения.</p>
            <div>
                <p>Мы всегда открыты для долговременного и взаимовыгодного сотрудничества!</p>
                <p>Ждем Вас на наших образовательных мероприятиях!</p>
            </div>
            <div>
                <p>С уважением,</p>
                <p>Басюков Александр Олегович</p>
                <p>Генеральный директор АНО ДПО «МЕЖИНТЕХКОМ»</p>
            </div>
        </div>
        <div class="contacts">
            <p>Генеральный директор АНО ДПО &laquo;Межинтехком&raquo;</p>
            <a href="#"><svg class="icon icon-vkontakte"><use xlink:href="#icon-vkontakte"></use></svg> Александр Басюков</a>
        </div>
    </div>
</div>