@{
    ViewBag.Title = "Контакты";
}
<div class="content-container">
    @await Html.PartialAsync("NavigationPartial")
    <h3>Контакты</h3>
    <div id="contacts-container">
        <h5>Автономная некоммерческая организация дополнительного профессионального образования «Межотраслевой центр инновационных технологий и развития компетенций»</h5>
        <div class="contacts">
            <div id="contact">
                <div class="contact">
                    <svg class="icon icon-mobile"><use xlink:href="#icon-mobile"></use></svg>
                    <div class="phones">
                        <a href="#">8 (495) 122-20-06</a>
                        <a href="#">8 (939) 849-09-62</a>
                    </div>
                </div>
                <div class="contact">
                    <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
                    <a href="#">info@mezhintekhkom.ru</a>
                </div>
                <div class="contact">
                    <svg class="icon icon-position"><use xlink:href="#icon-position"></use></svg>
                    <a href="https://yandex.ru/maps/-/CCUjiGSUWC">117342, г. Москва, муниципальный округ Коньково, ул. Бутлерова, д. 17Б, этаж 3, помещение XII, комната 86, офис 3, кабинет 97</a>
                </div>
                <div class="contact">
                    <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                    <a href="#">Реквизиты</a>
                </div>
                <div class="contact">
                    <svg class="icon"><use xlink:href="#icon-phone"></use></svg>
                    <a href="#">Телефонный справочник АНО ДПО "МЕЖИНТЕХКОМ"</a>
                </div>
            </div>
            <div class="map">
                <p>Схема проезда:</p>
                <iframe src="https://yandex.ru/map-widget/v1/?z=14&ol=biz&oid=128775136710" id="map" frameborder="0"></iframe>
                <div style="width:360px;height:220px;overflow:hidden;position:absolute; right: 0;bottom:-238px;">
                    <iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/128775136710?comments"></iframe>
                    <a href="https://yandex.ru/maps/org/mezhotraslevoy_tsentr_innovatsionnykh_tekhnologiy_i_razvitiya_kompetentsiy/128775136710/" target="_blank" style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">
                        Межинтехком на карте Москвы — Яндекс Карты
                    </a>
                </div>
            </div>
        </div>
        <h5><b>Режим и график работы:</b></h5>
        <ul>
            <li>Сотрудники: ПН-ПТ 09:00-18:00</li>
            <li>Преподаватели: ПН-ПТ 09:00-17:00</li>
        </ul>
        <table>
            <tr>
                <th style="padding-right: 55px;">Сообщество</th>
                <th>Ссылка</th>
            </tr>
            <tr>
                <td><svg class="icon icon-vkontakte"><use xlink:href="#icon-vkontakte"></use></svg> ВКонтакте</td>
                <td><a href="https://vk.com/mezhintekhkom">https://vk.com/mezhintekhkom</a></td>
            </tr>
            <tr>
                <td><svg class="icon icon-telegram"><use xlink:href="#icon-telegram"></use></svg> Telegram</td>
                <td><a href="https://t.me/info_mezhintekhkom">https://t.me/info_mezhintekhkom</a></td>
            </tr>
            <tr>
                <td><svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg> YouTube</td>
                <td><a href="https://www.youtube.com/@@info_mezhintekhkom">https://www.youtube.com/@@info_mezhintekhkom</a></td>
            </tr>
            <tr>
                <td><svg class="icon icon-dzen"><use xlink:href="#icon-dzen"></use></svg> Яндекс Дзен</td>
                <td><a href="https://dzen.ru/id/6097a828b8f34b04d28918ee">https://dzen.ru/id/6097a828b8f34b04d28918ee</a></td>
            </tr>
        </table>
        <p>АНО ДПО «МЕЖИНТЕХКОМ» приглашает к сотрудничеству на условиях партнёрства. Ждём ваших предложений: basyukov_a_o@mezhintekhkom.ru</p>
    </div>
</div>
@await Html.PartialAsync("FeedbackPartial")
@section Scripts {
    <script src="https://api-maps.yandex.ru/2.1/?apikey=1606b5d3-bb3f-4f4d-82e5-02a252347081&lang=ru-RU" type="text/javascript"></script>
    <script src="~/js/maps.js" asp-append-version="true"></script>
}