@{
    ViewBag.Title = "Главная";
}

<div class="content-head">
    <div class="preview">
        <div id="content-header">
            <h5>Межотраслевой центр инновационных технологий и развития компетенций</h5>
            <p>Актуальные знания для новичков и профессионалов</p>
        </div>
    </div>
    <div class="preview">
        <img class="preview-img" src="~/images/itgirl.png">
    </div>
</div>
<div class="content-container">
    <h3>Добро пожаловать в будущее МЕЖИНТЕХКОМ</h3>
    <div id="qualities">
        <div class="quality">
            <img src="~/images/quality1.png">
            <span>Передовой подход к образовательному процессу</span>
        </div>
        <div class="quality">
            <img src="~/images/quality2.png">
            <span>
                Непрерывное усовершенствование
                и пополнение базы курсов
            </span>
        </div>
        <div class="quality">
            <img src="~/images/quality3.png">
            <span>Только практикующие преподаватели</span>
        </div>
        <div class="quality">
            <img src="~/images/quality4.png">
            <span>Сопровождение на всех этапах обучения</span>
        </div>
    </div>
    @await Html.PartialAsync("GalleryPartial")
</div>

<div id="reviews-block">
    Отзывы наших обучающихся
    <div class="reviews">
        <div class="review">
            <div class="reviewer">
                <img class="reviewer-img" src="~/images/reviwer.png">
                <div class="reviewer-info">
                    <p class="reviewer-title">Имя Фамилия</p>
                    <p class="review-desc">Студент курса "WEB-разработчик"</p>
                </div>
            </div>
            <div class="review-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales.
            </div>
            <div class="review-rate">
                <img class="rate-ico" src="~/images/star.png">
                <p class="review-desc">4,87 / 5</p>
            </div>
        </div>
        <div class="review">
            <div class="reviewer">
                <img class="reviewer-img" src="~/images/reviwer.png">
                <div class="reviewer-info">
                    <p class="reviewer-title">Имя Фамилия</p>
                    <p class="review-desc">Студент курса "WEB-разработчик"</p>
                </div>
            </div>
            <div class="review-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales.
            </div>
            <div class="review-rate">
                <img class="rate-ico" src="~/images/star.png">
                <p class="review-desc">4,87 / 5</p>
            </div>
        </div>
        <div class="review">
            <div class="reviewer">
                <img class="reviewer-img" src="~/images/reviwer.png">
                <div class="reviewer-info">
                    <p class="reviewer-title">Имя Фамилия</p>
                    <p class="review-desc">Студент курса "WEB-разработчик"</p>
                </div>
            </div>
            <div class="review-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales.
            </div>
            <div class="review-rate">
                <img class="rate-ico" src="~/images/star.png">
                <p class="review-desc">4,87 / 5</p>
            </div>
        </div>
        <div class="review">
            <div class="reviewer">
                <img class="reviewer-img" src="~/images/reviwer.png">
                <div class="reviewer-info">
                    <p class="reviewer-title">Имя Фамилия</p>
                    <p class="review-desc">Студент курса "WEB-разработчик"</p>
                </div>
            </div>
            <div class="review-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales.
            </div>
            <div class="review-rate">
                <img class="rate-ico" src="~/images/star.png">
                <p class="review-desc">4,87 / 5</p>
            </div>
        </div>
        <div class="review">
            <div class="reviewer">
                <img class="reviewer-img" src="~/images/reviwer.png">
                <div class="reviewer-info">
                    <p class="reviewer-title">Имя Фамилия</p>
                    <p class="review-desc">Студент курса "WEB-разработчик"</p>
                </div>
            </div>
            <div class="review-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales.
            </div>
            <div class="review-rate">
                <img class="rate-ico" src="~/images/star.png">
                <p class="review-desc">4,87 / 5</p>
            </div>
        </div>
    </div>
    Отзывы наших партнеров
    <div class="reviews">
        <div class="review">
            <div class="reviewer">
                <img class="reviewer-img" src="~/images/reviwer.png">
                <div class="reviewer-info">
                    <p class="reviewer-title">Имя Фамилия</p>
                    <p class="review-desc">Студент курса "WEB-разработчик"</p>
                </div>
            </div>
            <div class="review-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales.
            </div>
            <div class="review-rate">
                <img class="rate-ico" src="~/images/star.png">
                <p class="review-desc">4,87 / 5</p>
            </div>
        </div>
        <div class="review">
            <div class="reviewer">
                <img class="reviewer-img" src="~/images/reviwer.png">
                <div class="reviewer-info">
                    <p class="reviewer-title">Имя Фамилия</p>
                    <p class="review-desc">Студент курса "WEB-разработчик"</p>
                </div>
            </div>
            <div class="review-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales.
            </div>
            <div class="review-rate">
                <img class="rate-ico" src="~/images/star.png">
                <p class="review-desc">4,87 / 5</p>
            </div>
        </div>
        <div class="review">
            <div class="reviewer">
                <img class="reviewer-img" src="~/images/reviwer.png">
                <div class="reviewer-info">
                    <p class="reviewer-title">Имя Фамилия</p>
                    <p class="review-desc">Студент курса "WEB-разработчик"</p>
                </div>
            </div>
            <div class="review-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales.
            </div>
            <div class="review-rate">
                <img class="rate-ico" src="~/images/star.png">
                <p class="review-desc">4,87 / 5</p>
            </div>
        </div>
        <div class="review">
            <div class="reviewer">
                <img class="reviewer-img" src="~/images/reviwer.png">
                <div class="reviewer-info">
                    <p class="reviewer-title">Имя Фамилия</p>
                    <p class="review-desc">Студент курса "WEB-разработчик"</p>
                </div>
            </div>
            <div class="review-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales.
            </div>
            <div class="review-rate">
                <img class="rate-ico" src="~/images/star.png">
                <p class="review-desc">4,87 / 5</p>
            </div>
        </div>
        <div class="review">
            <div class="reviewer">
                <img class="reviewer-img" src="~/images/reviwer.png">
                <div class="reviewer-info">
                    <p class="reviewer-title">Имя Фамилия</p>
                    <p class="review-desc">Студент курса "WEB-разработчик"</p>
                </div>
            </div>
            <div class="review-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales.
            </div>
            <div class="review-rate">
                <img class="rate-ico" src="~/images/star.png">
                <p class="review-desc">4,87 / 5</p>
            </div>
        </div>
    </div>
</div>
<div class="content-container">
    <div id="questions">
        <h3>Часто задаваемые вопросы</h3>
        <div class="accordion" id="questionsAccordian">
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-a">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#q-a" aria-expanded="true" aria-controls="q-a">
                        Как проверить лицензию Учебного центра?
                    </button>
                </h2>
                <div id="q-a" class="accordion-collapse collapse show" aria-labelledby="qh-a" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">
                        Проверить лицензию учебного центра можно в специальном реестре лицензий на сайте Рособрнадзора. Проверьте лицензию нашего Учебного центра в сводном реестре лицензий <a href="#obrnadzor">здесь</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-b">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-b" aria-expanded="false" aria-controls="q-b">
                        Кто может пройти обучение на курсах?
                    </button>
                </h2>
                <div id="q-b" class="accordion-collapse collapse" aria-labelledby="qh-b" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">
                        <ul>
                            <li>Руководители, заместители руководителей образовательных организаций.</li>
                            <li>Учителя, педагоги и методисты средних школ, лицеев, гимназий, организаций дополнительного образования.</li>
                            <li>Старшие воспитатели, воспитатели, педагоги и методисты дошкольных образовательных учреждений.</li>
                        </ul>
                        К освоению дополнительных профессиональных программ допускаются лица, имеющие (или получающие) среднее профессиональное и (или) высшее образование.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-c">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-c" aria-expanded="false" aria-controls="q-c">
                        Какие документы выдаются по окончании курсов?
                    </button>
                </h2>
                <div id="q-c" class="accordion-collapse collapse" aria-labelledby="qh-c" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">
                        <p>По окончании курсов повышения квалификации выдается <strong>документ о квалификации, удостоверение установленного образца</strong>. Удостоверения защищены от подделок специальным водяным знаком в соответствии с лицензией на ведение образовательной деятельности.</p>
                        <p>После обучения на курсах профессиональной переподготовки выдается документ о квалификации – <strong>диплом установленного образца о профессиональной переподготовке</strong>, предоставляющий право на ведение новой профессиональной деятельности в сфере образования. Дипломы защищены от подделок специальным водяным знаком.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-d">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-d" aria-expanded="false" aria-controls="q-d">
                        Что необходимо сделать, чтобы мою заявку приняли и меня допустили к обучению?
                    </button>
                </h2>
                <div id="q-d" class="accordion-collapse collapse" aria-labelledby="qh-d" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">
                        Для обучения на курсах с использованием дистанционных образовательных технологий необходимо:
                        <ol>
                            <li>Выбрать образовательный курс на сайте и нажать кнопку «Подать заявку».</li>
                            <li>Оплатите заявку (полностью или в рассрочку). Вы сможете сделать это на вкладке «Общая информация» в разделе "Мои заявки";</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-e">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-e" aria-expanded="false" aria-controls="q-e">
                        Кто может заключить договор на обучение и произвести оплату заявки?
                    </button>
                </h2>
                <div id="q-e" class="accordion-collapse collapse" aria-labelledby="qh-e" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-f">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-f" aria-expanded="false" aria-controls="q-f">
                        Могу ли я пройти обучение на курсах, если у меня нет педагогического образования?
                    </button>
                </h2>
                <div id="q-f" class="accordion-collapse collapse" aria-labelledby="qh-f" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-g">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-g" aria-expanded="false" aria-controls="q-g">
                        Как будет проходить обучение?
                    </button>
                </h2>
                <div id="q-g" class="accordion-collapse collapse" aria-labelledby="qh-g" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("PortalsPartial")
</div>
@await Html.PartialAsync("FeedbackPartial")