@{
    ViewBag.Title = "Основные сведения";
}
<div class="content-container">
    @await Html.PartialAsync("NavigationPartial")
    <h3>Сведения об образовательной организации</h3>
    <div id="information">
        <div class="accordion" id="informationAccordian">
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-a">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#q-a" aria-expanded="true" aria-controls="q-a">
                        Основные сведения
                    </button>
                </h2>
                <div id="q-a" class="accordion-collapse collapse show" aria-labelledby="qh-a" data-bs-parent="#informationAccordian">
                    <div class="accordion-body">
                        <p>
                            Автономная некоммерческая организация дополнительного профессионального образования «Межотраслевой центр инновационных технологий и развития компетенций»
                        </p>
                        <p>(АНО ДПО «МЕЖИНТЕХКОМ») является не имеющей членства некоммерческой образовательной  организацией дополнительного профессионального образования, учрежденной для предоставления услуг в сфере образования и иных услуг.</p>
                        <p>
                            АНО ДПО «МЕЖИНТЕХКОМ» основана 02 марта 2022 г.
                        </p>
                        <p>
                            Учредителями Организации являются граждане Российской Федерации:
                            <ul>
                                <li>Басюков Александр Олегович</li>
                                <li>Нагорная Юлия Олеговна</li>
                            </ul>
                        </p>
                        <table>
                            <tr>
                                <td></td><td></td>
                                <td><b>Адрес местонахождения:</b> 117342, Г. МОСКВА, ВН.ТЕР.Г. МУНИЦИПАЛЬНЫЙ ОКРУГ КОНЬКОВО, УЛ БУТЛЕРОВА, Д. 17Б, ЭТАЖ/ПОМЕЩ. 3/XII, КОМ./ОФИС/К. 86/3/97</td>
                            </tr>
                            <tr>
                                <td></td><td></td>
                                <td><b>График работы:</b> с 09:00 – 18:00</td>
                            </tr>
                            <tr>
                                <td></td><td></td>
                                <td><b>Перерыв:</b> с 12:00 - 13:00</td>
                            </tr>
                            <tr>
                                <td></td><td></td>
                                <td><b>Телефоны:</b></td>
                            </tr>
                            <tr>
                                <td></td><td></td>
                                <td>
                                    <ul>
                                        <li><a href="#">8 (495) 122-20-06</a>, доб. (201)</li>
                                        <li><a href="#">8 (939) 849-09-62</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td></td><td></td>
                                <td><b>Адрес электронной почты:</b> <a href="#">info@mezhintekhkom.ru</a></td>
                            </tr>
                        </table>
                        <br />
                        <p>Теоретическое обучение проводятся в специально оборудованных учебных классах по адресу: г. Москва, ул. Бутлерова, д. 17Б</p>
                        <p>Для учебного процесса используются специально оборудованные кабинеты, учебные тренажеры, стенды с оборудованием, видеооборудованием, компьютерами с подключением к сети «Интернет», учебными наглядными пособиями.</p>
                        <p>Обучающимся на время обучения предоставляется куратор учебной группы для решения организационных вопросов, необходимая учебная литература, бесплатный доступ к сети Интернет.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-b">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-b" aria-expanded="false" aria-controls="q-b">
                        Структура и органы управления образовательной организацией
                    </button>
                </h2>
                <div id="q-b" class="accordion-collapse collapse" aria-labelledby="qh-b" data-bs-parent="#informationAccordian">
                    <div class="accordion-body">
                        <img src="~/images/structure.png"/>
                        <ul class="documents">
                            <li><a href="~/documents/structure.pdf">Структура, органы управления</a><a class="sig" href="~/documents/structure.pdf">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Положение о Педагогическом совете</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Положение об общем собрании работников</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-c">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-c" aria-expanded="false" aria-controls="q-c">
                        Документы
                    </button>
                </h2>
                <div id="q-c" class="accordion-collapse collapse" aria-labelledby="qh-c" data-bs-parent="#informationAccordian">
                    <div class="accordion-body">
                        <ul class="documents">
                            <li><a href="#">Устав образовательной организации</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Лицензия на осуществление образовательной деятельности</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Правила внутреннего распорядка обучающихся</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Правила внутреннего трудового распорядка</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Отчет о результатах самообследования</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#" class="text-secondary">Предписания органов, осуществляющих государственный контроль (надзор) в сфере образования, отчеты об исполнении таких предписаний (до подтверждения органом), осуществляющим государственный контроль (надзор) в сфере образования, исполнения предписания или признания его недействительным в установленном законом порядке)</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Отчет об исполнении предписания органов, осуществляющих государственный контроль (надзор) в сфере образования</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Правила приема обучающихся</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Приказ "О режиме занятий обучающихся"</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Положение о формах, периодичности и порядке текущего контроля знаний и промежуточной аттестации</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Порядок и основания перевода, отчисления и восстановления обучающихся</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Порядок оформления возникновения, приостановления и прекращения отношений между образовательной организацией и обучающимися и (или) родителями (законными представителями) несовершеннолетних обучающихся</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Свидетельство о государственной аккредитации</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Коллективный договор (при наличии)</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Локальные нормативные акты образовательной организации по основным вопросам организации и осуществления образовательной деятельности, в том числе регламентирующие</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-d">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-d" aria-expanded="false" aria-controls="q-d">
                        Образование
                    </button>
                </h2>
                <div id="q-d" class="accordion-collapse collapse" aria-labelledby="qh-d" data-bs-parent="#informationAccordian">
                    <div class="accordion-body">
                        <p><a asp-controller="Identity" asp-action="Index">УЧЕБНЫЙ ЦЕНТР &rarr;</a></p>
                        <p style="margin-bottom: 5px;"><b>Автономная некоммерческая организация дополнительного профессионального образования «Межотраслевой центр инновационных технологий и развития компетенций» реализует следующие уровни образования:</b></p>
                        <ul class="list-unstyled">
                            <li>
                                1. Дополнительное профессиональное образование:
                                <ul>
                                    <li>программы повышения квалификации</li>
                                    <li>программы профессиональной переподготовки</li>
                                </ul>
                            </li>
                            <li>
                                2. Профессиональное образование:
                                <ul>
                                    <li>программы профессиональной подготовки  по профессиям рабочих, должностям служащих</li>
                                    <li>программы переподготовки по профессиям рабочих, должностям служащих</li>
                                    <li>программы повышения квалификации по профессиям рабочих, должностям служащих</li>
                                </ul>
                            </li>
                        </ul>
                        <p>АНО ДПО «МЕЖИНТЕХКОМ» проводит конференции, семинары, форумы, выставки, консорциумы, тренинги, круглые столы, соревнования, а  также  обучает по таким образовательным программам и т.д.</p>
                        <p><b>Язык обучения:</b> русский</p>
                        <p><b>Форма обучения:</b> очная, очно-заочная и заочная с применением электронного обучения и дистанционных образовательных технологий</p>
                        <p style="margin-bottom: 5px;"><b>Нормативные сроки обучения определяются объемом образовательных программ:</b></p>
                        <ul>
                            <li>дополнительные профессиональные программы повышения квалификации – от 16 до 250 часов</li>
                            <li>дополнительные профессиональные программы профессиональной переподготовки –  от 250 часов</li>
                            <li>образовательные программы профессионального обучения повышения квалификации – от 72 часов</li>
                            <li>образовательные программы профессионального обучения профессиональной подготовки и переподготовки  – от 152 часов</li>
                        </ul>
                        <p>Ежегодный прием на обучение –  круглогодично, по мере комплектования групп;  количество мест не ограничено</p>
                        <p style="margin-bottom: 5px;"><b>Выдаваемые документы:</b></p>
                        <ul>
                            <li>удостоверение о повышении квалификации</li>
                            <li>диплом о профессиональной подготовке</li>
                            <li>свидетельство о профессии рабочего</li>
                            <li>
                                другие документы в соответствии с Приказом об утверждении образцов документов об окончании обучения:
                                <ul>
                                    <li><a href="#">образовательные программы</a></li>
                                    <li><a href="#">положение о разработке дополнительных профессиональных программ</a></li>
                                    <li><a href="#">положение о разработке основных образовательных программ профессионального обучения по профессиям рабочих и должностям служащих</a></li>
                                    <li><a href="#">положение об организации самостоятельной работы обучающихся</a></li>
                                    <li><a href="#">положение о Комиссии по урегулированию споров между участниками образовательных отношений</a></li>
                                    <li><a href="#">положение о формах, периодичности и порядке текущего контроля знаний и промежуточной аттестации обучающихся АНО ДПО "МЕЖИНТЕХКОМ"</a></li>
                                    <li><a href="#">положение об итоговой аттестации</a></li>
                                    <li><a href="#">положение об индивидуальном учете результатов освоения обучающимися образовательных программ и хранения этих данных в архиве</a></li>
                                    <li><a href="#">положение об обучении по индивидуальному учебному плану, в том числе об ускоренном обучении в пределах осваиваемой образовательной программы</a></li>
                                    <li><a href="#">положение о практике</a></li>
                                    <li><a href="#">положение об обработке и защите персональных данных работников и обучающихся в АНО ДПО «МЕЖИНТЕХКОМ»</a></li>
                                </ul>
                            </li>
                        </ul>
                        <p><b>Учебные предметы, курсы, дисциплины (модули):</b> предусмотрено программой обучения</p>
                        <p><b>Практики:</b> при наличии</p>
                        <p><b>Использование при реализации образовательной программы электронного обучения и дистанционных образовательных технологий:</b> система СДО (система дистанционного обучения)</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-e">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-e" aria-expanded="false" aria-controls="q-e">
                        Образовательные стандарты и требования
                    </button>
                </h2>
                <div id="q-e" class="accordion-collapse collapse" aria-labelledby="qh-e" data-bs-parent="#informationAccordian">
                    <div class="accordion-body">
                        
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-f">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-f" aria-expanded="false" aria-controls="q-f">
                        Руководство. Педагогический (научно-педагогический) состав
                    </button>
                </h2>
                <div id="q-f" class="accordion-collapse collapse" aria-labelledby="qh-f" data-bs-parent="#informationAccordian">
                    <div class="accordion-body">
                        <p>Руководитель образовательной организации</p>
                        <div class="row">
                            <img class="col-10" src="~/images/avatars/god.jpg"/>
                            <table class="col-8">
                                <tr>
                                    <td></td><td></td>
                                    <td><b>ФИО:</b> Басюков Александр Олегович</td>
                                </tr>
                                <tr>
                                    <td></td><td></td>
                                    <td><b>Должность:</b> Генеральный директор АНО ДПО «МЕЖИНТЕХКОМ»</td>
                                </tr>
                                <tr>
                                    <td></td><td></td>
                                    <td><b>Телефоны:</b></td>
                                </tr>
                                <tr>
                                    <td></td><td></td>
                                    <td>
                                        <ul>
                                            <li><a href="#">8 (495) 122-20-06</a>, доб. (201)</li>
                                            <li><a href="#">8 (939) 849-09-62</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td><td></td>
                                    <td><b>Адрес электронной почты:</b> <a href="#">basyukov_a_o@mezhintekhkom.ru</a></td>
                                </tr>
                            </table>
                        </div>
                        <br />
                        <a asp-action="Teachers">Научно-педагогический состав &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-g">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-g" aria-expanded="false" aria-controls="q-g">
                        Материально-техническое обеспечение и оснащенность образовательного процесса
                    </button>
                </h2>
                <div id="q-g" class="accordion-collapse collapse" aria-labelledby="qh-g" data-bs-parent="#informationAccordian">
                    <div class="accordion-body">
                        <ul class="documents">
                            <li><a href="#">Справка о материально-технических ресурсах</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Учебные классы (фото)</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Положение об охране здоровья обучающихся</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Положение об организации обучения для лиц с ОВЗ</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Положение о бесплатном доступе обучающихся к библиотечно-информационным ресурсам</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Библиотечный фонд</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-i">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-i" aria-expanded="false" aria-controls="q-i">
                        Платные образовательные услуги
                    </button>
                </h2>
                <div id="q-i" class="accordion-collapse collapse" aria-labelledby="qh-i" data-bs-parent="#informationAccordian">
                    <div class="accordion-body">
                        <span>Автономная некоммерческая организация дополнительного профессионального образования «Межотраслевой центр инновационных технологий и развития компетенций» оказывает платные услуги по программам дополнительного профессионального образования (профессиональной переподготовки и повышения квалификации) и по образовательным программам профессионального обучения (подготовки, переподготовки и повышения квалификации) на основании следующих локальных актов:</span>
                        <ul class="documents">
                            <li><a href="#">Положение об оказании платных образовательных услуг</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Договор оказания платных образовательных услуг для физических и юридических лиц (образец)</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">Прайс-лист</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-j">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-j" aria-expanded="false" aria-controls="q-j">
                        Финансово-хозяйственная деятельность
                    </button>
                </h2>
                <div id="q-j" class="accordion-collapse collapse" aria-labelledby="qh-j" data-bs-parent="#informationAccordian">
                    <div class="accordion-body">
                        <p>Автономная некоммерческая организация дополнительного профессионального образования «Межотраслевой центр инновационных технологий и развития компетенций» не имеет бюджетного финансирования, предоставляет платные образовательные услуги на основании договора оказания платных образовательных услуг.</p>
                        <p>Вся финансовая деятельность основывается на доходах, полученных за оказание платных образовательных услуг.</p>
                        <p>Все полученные АНО ДПО «МЕЖИНТЕХКОМ» средства расходуются на обеспечение и развитие образовательного процесса. Основные средства идут на содержание организации, заработную плату, развитие учебно-материальной базы, ремонтные работы и т.п.</p>
                        <p>Данные о поступлении и расходовании финансовых и материальных средств по итогам финансового года отражены в годовом отчёте в соответствующие органы. АНО ДПО «МЕЖИНТЕХКОМ» своевременно и в полном объёме перечисляет налоги.</p>
                        <ul class="documents">
                            <li><a href="#">Отчет о поступлении финансовых средств и об их расходовании по итогам 2022 финансового года</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                            <li><a href="#">План финансово-экономической деятельности на 2023 год</a><a class="sig" href="#">PDF</a><a class="sig" href="#">SIG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-k">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-k" aria-expanded="false" aria-controls="q-k">
                        Доступная среда
                    </button>
                </h2>
                <div id="q-k" class="accordion-collapse collapse" aria-labelledby="qh-k" data-bs-parent="#informationAccordian">
                    <div class="accordion-body">

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-l">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-l" aria-expanded="false" aria-controls="q-l">
                        Международное сотрудничество
                    </button>
                </h2>
                <div id="q-l" class="accordion-collapse collapse" aria-labelledby="qh-l" data-bs-parent="#informationAccordian">
                    <div class="accordion-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>