@{
    ViewBag.Title = "Преподаватели";
}
<div class="content-container">
    @await Html.PartialAsync("NavigationPartial")
    <h3>Научно-педагогический состав</h3>
    <div id="teachers">
        <div class="accordion teacher" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="head">
                            <img src="/images/avatars/god.jpg" />
                            <div class="status">
                                <p>Басюков Александр Олегович</p>
                                <span>По внутреннему совмещению - преподаватель</span>
                                <span>Инженер, экономист и управленец в организациии по отраслям</span>
                            </div>
                        </div>
                    </button>
                    <a class="pdf" href="#">Открыть в PDF</a>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="body">
                            <tr>
                                <th width="225"></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>Перечень преподаваемых дисциплин</td>
                                <td>
                                    <ul>
                                        <li>Безопасные методы и приемы выполнения работ на высоте для работников 1,2,3 группы.</li>
                                        <li>Охрана труда для руководителей и специалистов.</li>
                                        <li>Пожарно-технический минимум для рабочих.</li>
                                        <li>Пожарно-технический минимум для электрогазосварщиков,</li>
                                        <li>Правила технической эксплуатации тепловых энергоустановок.</li>
                                        <li>Нормы и правила работы на тепломеханическом оборудовании энергоснабжающих организаций.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Наименование направления подготовки и (или) специальности</td>
                                <td>Федеральное государственное образовательное учреждение высшего профессионального образования «Алтайский государственный политехнический университет имени И.И. Ползунова» (ФГОУ ВПО АлтГТУ им. И.И. Ползунова) города Барнаула, Алтайского края. Диплом № З-83 бланк 102224 0012143 от 28.02.2022 года. «Автомобили и автомобильное хозяйство, 190601». (Инженер)</td>
                            </tr>
                            <tr>
                                <td>Уровень образования</td>
                                <td>Высшее - специальное</td>
                            </tr>
                            <tr>
                                <td>Общий стаж работы</td>
                                <td>Более 12 лет</td>
                            </tr>
                            <tr>
                                <td>Стаж работы по специальности</td>
                                <td>Более 5 лет</td>
                            </tr>
                            <tr>
                                <td>Преподаваемые учебные предметы, курсы, дисциплины (модули)</td>
                                <td>Более 5 лет</td>
                            </tr>
                            <tr>
                                <td>Ученая степень<br />(при наличии)</td>
                                <td>Не имеет</td>
                            </tr>
                            <tr>
                                <td>Ученое звание<br />(при наличии)</td>
                                <td>Не имеет</td>
                            </tr>
                            <tr>
                                <td>Повышение квалификации и (или) профессиональная переподготовка</td>
                                <td>
                                    <ul>
                                        <li>Федеральное государственное образовательное учреждение высшего профессионального образования «Алтайский государственный политехнический университет имени И.И. Ползунова» (ФГОУ ВПО АлтГТУ им. И.И. Ползунова) города Барнаула, Алтайского края. Диплом № 22 бланк 240016242 от 05.05.2014 года. «Экономика и управление на предприятии». (Профессиональная переподготовка, 570 часов)</li>
                                        <li>Общество с ограниченной ответственностью Учебный центр «Профессионал» города Москвы.  Диплом № 9606 бланк 770300010520 от 02.08.2017 года. «Организация менеджмента в образовательной организации». (Профессиональная переподготовка с присвоением квалификации: «Менеджер образования», 600 часов)</li>
                                        <li>Автономная некоммерческая организация дополнительного профессионального образования «Западно-Сибирский Учебный Центр» города Тюмени, Тюменской области. Диплом серия ПП № 000012 бланк б/н от 05.07.2019 года.  «Специалист в области охраны труда». (Профессиональная переподготовка с присвоением квалификации: «Охрана труда», 528 часов)</li>
                                        <li>Общество с ограниченной ответственностью «Московский институт профессиональной переподготовки и повышения квалификации педагогов» города Москвы. Диплом № 9668 бланк 0010036 от 20.07.2021 года. «Профессиональная деятельность педагога-психолога». (Профессиональная переподготовка с присвоением квалификации: «Педагог-психолог», 540 часов)</li>
                                        <li>Негосударственное образовательное частное учреждение дополнительного профессионального образования «Краснодарский многопрофильный институт дополнительного профессионального образования» (НОЧУ ДПО «КМИДО») города Краснодара, Краснодарского края.  Диплом № 07-2/0408-21 бланк 232413840477 от 04.08.2021 года. «Юриспруденция». (Профессиональная переподготовка с присвоением квалификации: «Юрист», 650 часов)</li>
                                        <li>Негосударственное образовательное частное учреждение дополнительного профессионального образования «Краснодарский многопрофильный институт дополнительного профессионального образования» (НОЧУ ДПО «КМИДО») города Краснодара, Краснодарского края.  Диплом № 05-1/1901-22 бланк 232415434418 от 19.01.2022 года. «Государственное и муниципальное управление». (Профессиональная переподготовка, 550 часов)</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion teacher" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <div class="head">
                            <img src="/images/avatars/god.jpg" />
                            <div class="status">
                                <p>Басюков Александр Олегович</p>
                                <span>По внутреннему совмещению - преподаватель</span>
                                <span>Инженер, экономист и управленец в организациии по отраслям</span>
                            </div>
                        </div>
                    </button>
                    <a class="pdf" href="#">Открыть в PDF</a>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="body">
                            <tr>
                                <th width="225"></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>Перечень преподаваемых дисциплин</td>
                                <td>
                                    <ul>
                                        <li>Безопасные методы и приемы выполнения работ на высоте для работников 1,2,3 группы.</li>
                                        <li>Охрана труда для руководителей и специалистов.</li>
                                        <li>Пожарно-технический минимум для рабочих.</li>
                                        <li>Пожарно-технический минимум для электрогазосварщиков,</li>
                                        <li>Правила технической эксплуатации тепловых энергоустановок.</li>
                                        <li>Нормы и правила работы на тепломеханическом оборудовании энергоснабжающих организаций.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Наименование направления подготовки и (или) специальности</td>
                                <td>Федеральное государственное образовательное учреждение высшего профессионального образования «Алтайский государственный политехнический университет имени И.И. Ползунова» (ФГОУ ВПО АлтГТУ им. И.И. Ползунова) города Барнаула, Алтайского края. Диплом № З-83 бланк 102224 0012143 от 28.02.2022 года. «Автомобили и автомобильное хозяйство, 190601». (Инженер)</td>
                            </tr>
                            <tr>
                                <td>Уровень образования</td>
                                <td>Высшее - специальное</td>
                            </tr>
                            <tr>
                                <td>Общий стаж работы</td>
                                <td>Более 12 лет</td>
                            </tr>
                            <tr>
                                <td>Стаж работы по специальности</td>
                                <td>Более 5 лет</td>
                            </tr>
                            <tr>
                                <td>Преподаваемые учебные предметы, курсы, дисциплины (модули)</td>
                                <td>Более 5 лет</td>
                            </tr>
                            <tr>
                                <td>Ученая степень<br />(при наличии)</td>
                                <td>Не имеет</td>
                            </tr>
                            <tr>
                                <td>Ученое звание<br />(при наличии)</td>
                                <td>Не имеет</td>
                            </tr>
                            <tr>
                                <td>Повышение квалификации и (или) профессиональная переподготовка</td>
                                <td>
                                    <ul>
                                        <li>Федеральное государственное образовательное учреждение высшего профессионального образования «Алтайский государственный политехнический университет имени И.И. Ползунова» (ФГОУ ВПО АлтГТУ им. И.И. Ползунова) города Барнаула, Алтайского края. Диплом № 22 бланк 240016242 от 05.05.2014 года. «Экономика и управление на предприятии». (Профессиональная переподготовка, 570 часов)</li>
                                        <li>Общество с ограниченной ответственностью Учебный центр «Профессионал» города Москвы.  Диплом № 9606 бланк 770300010520 от 02.08.2017 года. «Организация менеджмента в образовательной организации». (Профессиональная переподготовка с присвоением квалификации: «Менеджер образования», 600 часов)</li>
                                        <li>Автономная некоммерческая организация дополнительного профессионального образования «Западно-Сибирский Учебный Центр» города Тюмени, Тюменской области. Диплом серия ПП № 000012 бланк б/н от 05.07.2019 года.  «Специалист в области охраны труда». (Профессиональная переподготовка с присвоением квалификации: «Охрана труда», 528 часов)</li>
                                        <li>Общество с ограниченной ответственностью «Московский институт профессиональной переподготовки и повышения квалификации педагогов» города Москвы. Диплом № 9668 бланк 0010036 от 20.07.2021 года. «Профессиональная деятельность педагога-психолога». (Профессиональная переподготовка с присвоением квалификации: «Педагог-психолог», 540 часов)</li>
                                        <li>Негосударственное образовательное частное учреждение дополнительного профессионального образования «Краснодарский многопрофильный институт дополнительного профессионального образования» (НОЧУ ДПО «КМИДО») города Краснодара, Краснодарского края.  Диплом № 07-2/0408-21 бланк 232413840477 от 04.08.2021 года. «Юриспруденция». (Профессиональная переподготовка с присвоением квалификации: «Юрист», 650 часов)</li>
                                        <li>Негосударственное образовательное частное учреждение дополнительного профессионального образования «Краснодарский многопрофильный институт дополнительного профессионального образования» (НОЧУ ДПО «КМИДО») города Краснодара, Краснодарского края.  Диплом № 05-1/1901-22 бланк 232415434418 от 19.01.2022 года. «Государственное и муниципальное управление». (Профессиональная переподготовка, 550 часов)</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>