@{
    ViewBag.Title = "Курсы";
}
<div class="content-container">
    @await Html.PartialAsync("NavigationPartial")
    <h3>Все программы обучения</h3>
    <div class="row">
        <form class="col-3">
            <fieldset>
                <legend>Форма обучения</legend>
                <div class="radio">
                    <input name="difficulty" type="radio" id="ochno" checked>
                    <label for="ochno">Очная</label>
                </div>
                <div class="radio">
                    <input name="difficulty" type="radio" id="ochno-zaochno">
                    <label for="ochno-zaochno">Очно-заочная</label>
                </div>
                <div class="radio">
                    <input name="difficulty" type="radio" id="zaochno">
                    <label for="zaochno">Заочная</label>
                </div>
                <div class="radio">
                    <input name="difficulty" type="radio" id="distance">
                    <label for="distance">Дистанционная</label>
                </div>
                <div class="radio">
                    <input name="difficulty" type="radio" id="electron">
                    <label for="electron">Электронная</label>
                </div>
            </fieldset>
            <fieldset>
                <legend>Тип обучения</legend>
                <div class="radio">
                    <input name="type" type="radio" id="any" checked>
                    <label for="any">Любой</label>
                </div>
                <div class="radio">
                    <input name="type" type="radio" id="prof">
                    <label for="prof">Профессия</label>
                </div>
                <div class="radio">
                    <input name="type" type="radio" id="course">
                    <label for="course">Курс</label>
                </div>
            </fieldset>
            <fieldset>
                <legend>Длительность</legend>
                <input type="text" id="amount" value="от 1 до 24 месяцев" readonly>
                <div id="slider-range"></div>
            </fieldset>
        </form>
        <div class="col">
            <fieldset>
                <legend>Направление</legend>
                <div class="directions">
                    <a href="#">Работотехника</a>
                    <a href="#">Создание игр</a>
                    <a href="#">Web-разработка</a>
                    <a href="#">Мультимедия</a>
                    <a href="#">Шахматы</a>
                    <a href="#">3D-моделирование и дизайн</a>
                    <a href="#">Английский язык</a>
                    <a href="#">Блогинг</a>
                    <a href="#">Soft skills</a>
                </div>
            </fieldset>

            <div class="courses">
                <a class="course" asp-action="Courses" asp-route-id="5fb707fd-0d49-479a-a065-0b7f1c3f9895">
                    <p>Программа</p>
                    <div class="title">
                        <div>
                            <img src="~/images/course.png">
                        </div>
                        <p>Разработка мобильных приложений</p>
                    </div>
                    <p>
                        Разработчик мобильных приложений создаёт приложения, которыми люди ежедневно пользуются
                        на смартфонах, умных часах и планшетах.
                    </p>
                    <label>24 месяца</label>
                </a>
                <a class="course" asp-action="Courses" asp-route-id="5fb707fd-0d49-479a-a065-0b7f1c3f9895" style="background-color: #C7EEFF;">
                    <p>Программа</p>
                    <div class="title">
                        <div>
                            <img src="~/images/course.png">
                        </div>
                        <p>Разработка мобильных приложений</p>
                    </div>
                    <p>
                        Разработчик мобильных приложений создаёт приложения, которыми люди ежедневно пользуются
                        на смартфонах, умных часах и планшетах.
                    </p>
                    <label>24 месяца</label>
                </a>
                <a class="course" asp-action="Courses" asp-route-id="5fb707fd-0d49-479a-a065-0b7f1c3f9895" style="background-color: #FFEEF6;">
                    <p>Программа</p>
                    <div class="title">
                        <div>
                            <img src="~/images/course.png">
                        </div>
                        <p>Разработка мобильных приложений</p>
                    </div>
                    <p>
                        Разработчик мобильных приложений создаёт приложения, которыми люди ежедневно пользуются
                        на смартфонах, умных часах и планшетах.
                    </p>
                    <label>24 месяца</label>
                </a>
                <a class="course" asp-action="Courses" asp-route-id="5fb707fd-0d49-479a-a065-0b7f1c3f9895" style="background-color: #DDDDFF;">
                    <p>Программа</p>
                    <div class="title">
                        <div>
                            <img src="~/images/course.png">
                        </div>
                        <p>Разработка мобильных приложений</p>
                    </div>
                    <p>
                        Разработчик мобильных приложений создаёт приложения, которыми люди ежедневно пользуются
                        на смартфонах, умных часах и планшетах.
                    </p>
                    <label>24 месяца</label>
                </a>
                <a class="course" asp-action="Courses" asp-route-id="5fb707fd-0d49-479a-a065-0b7f1c3f9895" style="background-color: #B8EFCF;">
                    <p>Программа</p>
                    <div class="title">
                        <div>
                            <img src="~/images/course.png">
                        </div>
                        <p>Разработка мобильных приложений</p>
                    </div>
                    <p>
                        Разработчик мобильных приложений создаёт приложения, которыми люди ежедневно пользуются
                        на смартфонах, умных часах и планшетах.
                    </p>
                    <label>24 месяца</label>
                </a>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("FeedbackPartial")
@section Scripts {
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="~/js/slider.js" asp-append-version="true"></script>
}