@{
    ViewBag.Title = "Курсы";
}
<div class="content-container">
    @await Html.PartialAsync("NavigationPartial")
    <h3>Все программы обучения</h3>
    <div class="row">
        <form class="col-3">
            <fieldset>
                <legend>Форма обучения</legend>
                <div class="radio">
                    <input name="f1" type="radio" id="f11" checked>
                    <label for="f11">Очная</label>
                </div>
                <div class="radio">
                    <input name="f1" type="radio" id="f12">
                    <label for="f12">Очно-заочная</label>
                </div>
                <div class="radio">
                    <input name="f1" type="radio" id="f13">
                    <label for="f13">Заочная</label>
                </div>
                <div class="radio">
                    <input name="f1" type="radio" id="f14">
                    <label for="f14">Дистанционная</label>
                </div>
                <div class="radio">
                    <input name="f1" type="radio" id="f15">
                    <label for="f15">Электронная</label>
                </div>
            </fieldset>
            <fieldset>
                <legend>Тип обучения</legend>
                <div class="radio">
                    <input name="f2" type="radio" id="f21" checked>
                    <label for="f21">Любой</label>
                </div>
                <div class="radio">
                    <input name="f2" type="radio" id="f22">
                    <label for="f22">Профессия</label>
                </div>
                <div class="radio">
                    <input name="f2" type="radio" id="f23">
                    <label for="f23">Курс</label>
                </div>
            </fieldset>
            <fieldset>
                <legend>Тип курсов</legend>
                <div class="radio">
                    <input name="f3" type="radio" id="f31" checked>
                    <label for="f31">Повышения квалификации</label>
                </div>
                <div class="radio">
                    <input name="f3" type="radio" id="f32">
                    <label for="f32">Профессиональная переподготовка</label>
                </div>
                <div class="radio">
                    <input name="f3" type="radio" id="f33">
                    <label for="f33">Профессиональное обучение</label>
                </div>
                <div class="radio">
                    <input name="f3" type="radio" id="f34">
                    <label for="f34">Дополнительное образование</label>
                </div>
            </fieldset>
            <fieldset>
                <legend>Уровень образования</legend>
                <div class="radio">
                    <input name="f4" type="radio" id="f41" checked>
                    <label for="f41">Дошкольное образование</label>
                </div>
                <div class="radio">
                    <input name="f4" type="radio" id="f42">
                    <label for="f42">Начальная школа</label>
                </div>
                <div class="radio">
                    <input name="f4" type="radio" id="f43">
                    <label for="f43">Средние и старшие классы</label>
                </div>
                <div class="radio">
                    <input name="f4" type="radio" id="f44">
                    <label for="f44">Дополнительное образование</label>
                </div>
                <div class="radio">
                    <input name="f4" type="radio" id="f45">
                    <label for="f45">ВУЗы и ССУЗы</label>
                </div>
            </fieldset>
            <fieldset>
                <legend>Длительность</legend>
                <input type="text" class="amount" id="hours" value="от 16 до 1440 часов" readonly>
                <div class="slider-range" id="hour-range"></div>
            </fieldset>
            <fieldset>
                <legend>Цена</legend>
                <input type="text" class="amount" id="price" value="от 0 до 99999 рублей" readonly>
                <div class="slider-range" id="price-range"></div>
            </fieldset>
        </form>
        <div class="col">
            <div class="courses">
                <a class="course" asp-action="Courses" asp-route-id="5fb707fd-0d49-479a-a065-0b7f1c3f9895">
                    <p>Программа</p>
                    <div class="title">
                        <div>
                            <img src="~/images/course.png">
                        </div>
                        <p>Разработка мобильных приложений</p>
                    </div>
                    <p>
                        Разработчик мобильных приложений создаёт приложения, которыми люди ежедневно пользуются
                        на смартфонах, умных часах и планшетах.
                    </p>
                    <label>24 месяца</label>
                </a>
                <a class="course" asp-action="Courses" asp-route-id="5fb707fd-0d49-479a-a065-0b7f1c3f9895" style="background-color: #C7EEFF;">
                    <p>Программа</p>
                    <div class="title">
                        <div>
                            <img src="~/images/course.png">
                        </div>
                        <p>Разработка мобильных приложений</p>
                    </div>
                    <p>
                        Разработчик мобильных приложений создаёт приложения, которыми люди ежедневно пользуются
                        на смартфонах, умных часах и планшетах.
                    </p>
                    <label>24 месяца</label>
                </a>
                <a class="course" asp-action="Courses" asp-route-id="5fb707fd-0d49-479a-a065-0b7f1c3f9895" style="background-color: #FFEEF6;">
                    <p>Программа</p>
                    <div class="title">
                        <div>
                            <img src="~/images/course.png">
                        </div>
                        <p>Разработка мобильных приложений</p>
                    </div>
                    <p>
                        Разработчик мобильных приложений создаёт приложения, которыми люди ежедневно пользуются
                        на смартфонах, умных часах и планшетах.
                    </p>
                    <label>24 месяца</label>
                </a>
                <a class="course" asp-action="Courses" asp-route-id="5fb707fd-0d49-479a-a065-0b7f1c3f9895" style="background-color: #DDDDFF;">
                    <p>Программа</p>
                    <div class="title">
                        <div>
                            <img src="~/images/course.png">
                        </div>
                        <p>Разработка мобильных приложений</p>
                    </div>
                    <p>
                        Разработчик мобильных приложений создаёт приложения, которыми люди ежедневно пользуются
                        на смартфонах, умных часах и планшетах.
                    </p>
                    <label>24 месяца</label>
                </a>
                <a class="course" asp-action="Courses" asp-route-id="5fb707fd-0d49-479a-a065-0b7f1c3f9895" style="background-color: #B8EFCF;">
                    <p>Программа</p>
                    <div class="title">
                        <div>
                            <img src="~/images/course.png">
                        </div>
                        <p>Разработка мобильных приложений</p>
                    </div>
                    <p>
                        Разработчик мобильных приложений создаёт приложения, которыми люди ежедневно пользуются
                        на смартфонах, умных часах и планшетах.
                    </p>
                    <label>24 месяца</label>
                </a>
            </div>
            @await Html.PartialAsync("PaginationPartial")
        </div>
    </div>
</div>
@await Html.PartialAsync("FeedbackPartial")
@section Scripts {
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="~/js/slider.js" asp-append-version="true"></script>
}