@{
    //@model Course
    //ViewBag.Title = Model.Title;
    ViewBag.Title = "Курс";
}

<div id="course-preview">
    <div class="content">
        <div class="header">
            <p class="title">Получите квалификацию «Менеджер образования» за 3 месяца от</p>
            <strong>2390 руб. <s>7690 руб.</s></strong>
            <p class="info">Дистанционный курс профессиональной переподготовки «Управление образовательной организацией»</p>
            <button>Подать заявку</button>
            <p class="discount">Скидка 70% только до 15 декабря!</p>
        </div>
        <div class="info">
            <div class="columns">
                <div class="column">
                    <span>КОЛИЧЕСТВО ЧАСОВ</span>
                    <p class="inf">540 ч</p>
                </div>
                <div class="column">
                    <span>НАЧАЛО ОБУЧЕНИЯ</span>
                    <p class="inf">13 декабря</p>
                </div>
                <div class="column">
                    <span>ФОРМА ОБУЧЕНИЯ</span>
                    <p class="inf">Заочная</p>
                    <p class="desc">(в процессе обучения используются дистанционные образовательные технологии)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-container">
    <div id="document">
        <h1>Выдаваемый документ</h1>
        <p><b>Диплом о профессиональной переподготовке установленного образца</b> c присвоением квалификации: «Менеджер образования». Это официальный документ, который признается во всех регионах Российской Федерации.</p>
        <div id="gallery" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="999999">
                    <div style="background-image:url(/images/diplom.jpg)"></div>
                </div>
                <div class="carousel-item" data-bs-interval="999999">
                    <div style="background-image:url(/images/pril_diplom.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="carousel-nav">
            <button type="button" data-bs-target="#gallery" data-bs-slide="prev">Диплом</button>
            <button type="button" data-bs-target="#gallery" data-bs-slide="next">Приложение к диплому</button>
        </div>
    </div>
</div>
<div id="how-study">
    <h1>Как проходит обучение</h1>
    <div class="columns">
        <div class="actions">
            <div class="action">
                <span>1</span>
                <div class="info">
                    <div class="title">
                        <p>Подача заявки</p>
                        <span>60 секунд</span>
                    </div>
                    <p>Вы подаете заявку на курс и оплачиваете её</p>
                </div>
            </div>
            <div class="action">
                <span>2</span>
                <div class="info">
                    <div class="title">
                        <p>Дистанционное обучение</p>
                        <span>от 2 недель</span>
                    </div>
                    <p>
                        Проходите модули курса дистанционно
                        в удобное для Вас время, без отрыва от работы
                    </p>
                </div>
            </div>
            <div class="action">
                <span>3</span>
                <div class="info">
                    <div class="title">
                        <p>Итоговый тест</p>
                        <span>60 минут</span>
                    </div>
                    <p>Сдаете итоговый тест в дистанционном режиме</p>
                </div>
            </div>
            <div class="action">
                <span>4</span>
                <div class="info">
                    <div class="title">
                        <p>Документ об образовании</p>
                        <span>Доставка бесплатно</span>
                    </div>
                    <p>
                        Получаете диплом или удостоверение
                        по почте с бесплатной доставкой в любую
                        точку России
                    </p>
                </div>
            </div>
        </div>
        <div class="img">
            <img src="~/images/how-study.jpg"/>
        </div>
    </div>
</div>
<div class="content-container">
    <div id="course-program">
        <h1>Программа курса</h1>
        <button class="btn-blue">Скачать копию программы курса</button>
        <table>
            <tr>
                <td class="header">О ПРОГРАММЕ</td>
                <td class="desc">
                    Спецкурс повышения профессионального образования подготовлен на основании требований Федерального государственного образовательного стандарта и предлагает овладеть различными областями специальных учебных программ, ориентирован на приобретение опыта и знаний, обязательных для осуществления образовательной деятельности при получении новой специальности. В конце спецкурса обучающимся выдается диплом установленного образца. Диплом дает возможность осуществлять профессиональный функционал в области образования на руководящих должностях в образовательном учреждении и предоставляет право на подтверждение уровня по пройденной профессиональной переподготовке.Курс повышения квалификации построен согласно следующим нормативным актам:- ФГОС высшего образования по направлению подготовки 38.03.02 «Менеджмент» (бакалавриат);- ФГОС высшего образования по направлению подготовки 44.03.01 «Педагогическое образование» (бакалавриат);- Проекта Профессионального стандарта «Руководитель образовательной организации».
                </td>
            </tr>
            <tr>
                <td class="header">ЦЕЛЬ КУРСА</td>
                <td class="desc">
                    Развитие у обучающихся необходимых качеств для осуществления нового типа профессиональной деятельности в сфере процесса управления в учебном заведении и получения специальности «Менеджер образования»
                </td>
            </tr>
            <tr>
                <td class="header">КАТЕГОРИЯ СЛУШАТЕЛЕЙ</td>
                <td class="desc">
                    Руководители учреждений, организаций и предприятий, руководители служб и подразделений в сфере образования Уровень образования: высшее образование.
                </td>
            </tr>
            <tr>
                <td class="header">НАПРАВЛЕНИЕ</td>
                <td class="desc">
                    Образование и педагогика
                </td>
            </tr>
            <tr>
                <td class="header">ФОРМА ОБУЧЕНИЯ</td>
                <td class="desc">
                    Заочная. В процессе обучения применяются исключительно дистанционные образовательные технологии и электронное обучение
                </td>
            </tr>
            <tr>
                <td class="header">ИТОГОВАЯ АТТЕСТАЦИЯ</td>
                <td class="desc">
                    Итоговая аттестация включает теоретическую и практическую составляющие: итоговый экзамен по теоретической части обучения и предоставление материалов по практической части обучения. Итоговая аттестация осуществляется в дистанционном режиме. Это означает, что слушателю будет предложен билет, на который необходимо будет ответить за определенный промежуток времени
                </td>
            </tr>
        </table>
    </div>
    <div id="study-plan">
        <h1>Учебный план</h1>
        <div class="hours">
            540 часов
        </div>
        <table>
            <tr>
                <th width="40%"></th>
                <th>Всего часов</th>
                <th>Лекции</th>
                <th>Самостоятельная работа</th>
                <th>Тип контроля</th>
            </tr>
            <tr>
                <td>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Модуль 1. Нормативно-правовой
                            </button>
                        </h2>
                    </div>
                </td>
                <td>30 ч.</td>
                <td>20 ч.</td>
                <td>10 ч.</td>
                <td>Тест</td>
            </tr>
            <tr id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <td>
                    <div class="accordion-body">
                        Основы законодательства и государственной политики РФ в сфере образования в современных условиях
                    </div>
                </td>
                <td>30 ч.</td>
                <td>20 ч.</td>
                <td>10 ч.</td>
                <td>Тест</td>
            </tr>
            <tr>
                <td>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Модуль 2. Психолого-педагогический
                            </button>
                        </h2>
                    </div>
                </td>
                <td>106 ч.</td>
                <td>72 ч.</td>
                <td>34 ч.</td>
                <td>Тест</td>
            </tr>
            <tr id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <td>
                    <div class="accordion-body">
                        Социальное управление
                    </div>
                </td>
                <td>30 ч.</td>
                <td>20 ч.</td>
                <td>10 ч.</td>
                <td>Тест</td>
            </tr>
            <tr id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <td>
                    <div class="accordion-body">
                        Психология управления
                    </div>
                </td>
                <td>38 ч.</td>
                <td>26 ч.</td>
                <td>12 ч.</td>
                <td>Тест</td>
            </tr>
            <tr id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <td>
                    <div class="accordion-body">
                        Управление развитием системы эффективного обучения
                    </div>
                </td>
                <td>38 ч.</td>
                <td>26 ч.</td>
                <td>12 ч.</td>
                <td>Тест</td>
            </tr>

            <tr>
                <td>Итоговый экзамен</td>
                <td>28 ч.</td>
                <td>4 ч.</td>
                <td>24 ч.</td>
                <td>Экзамен</td>
            </tr>
            <tr>
                <td><b>Итого часов</b></td>
                <td><b>540 ч.</b></td>
                <td>348 ч.</td>
                <td>192 ч.</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div id="questions">
        <h3>Часто задаваемые вопросы</h3>
        <div class="accordion" id="questionsAccordian">
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-a">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#q-a" aria-expanded="true" aria-controls="q-a">
                        Как проверить лицензию Учебного центра?
                    </button>
                </h2>
                <div id="q-a" class="accordion-collapse collapse show" aria-labelledby="qh-a" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">
                        Проверить лицензию учебного центра «Московского института профессиональной переподготовки и повышения квалификации педагогов» можно в специальном реестре лицензий на сайте Рособрнадзора. Проверьте лицензию нашего Учебного центра в сводном реестре лицензий здесь
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-b">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-b" aria-expanded="false" aria-controls="q-b">
                        Кто может пройти обучение на курсах?
                    </button>
                </h2>
                <div id="q-b" class="accordion-collapse collapse" aria-labelledby="qh-b" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">
                        <ul>
                            <li>Руководители, заместители руководителей образовательных организаций.</li>
                            <li>Учителя, педагоги и методисты средних школ, лицеев, гимназий, организаций дополнительного образования.</li>
                            <li>Старшие воспитатели, воспитатели, педагоги и методисты дошкольных образовательных учреждений.</li>
                        </ul>
                        К освоению дополнительных профессиональных программ допускаются лица, имеющие (или получающие) среднее профессиональное и (или) высшее образование.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-c">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-c" aria-expanded="false" aria-controls="q-c">
                        Какие документы выдаются по окончании курсов?
                    </button>
                </h2>
                <div id="q-c" class="accordion-collapse collapse" aria-labelledby="qh-c" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">
                        <p>По окончании курсов повышения квалификации выдается <strong>документ о квалификации, удостоверение установленного образца</strong>. Удостоверения защищены от подделок специальным водяным знаком в соответствии с лицензией на ведение образовательной деятельности.</p>
                        <p>После обучения на курсах профессиональной переподготовки выдается документ о квалификации – <strong>диплом установленного образца о профессиональной переподготовке</strong>, предоставляющий право на ведение новой профессиональной деятельности в сфере образования. Дипломы защищены от подделок специальным водяным знаком.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-d">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-d" aria-expanded="false" aria-controls="q-d">
                        Что необходимо сделать, чтобы мою заявку приняли и меня допустили к обучению?
                    </button>
                </h2>
                <div id="q-d" class="accordion-collapse collapse" aria-labelledby="qh-d" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">
                        Для обучения на курсах с использованием дистанционных образовательных технологий необходимо:
                        <ol>
                            <li>Выбрать образовательный курс на сайте и нажать кнопку «Подать заявку».</li>
                            <li>Оплатите заявку (полностью или в рассрочку). Вы сможете сделать это на вкладке «Общая информация» в разделе "Мои заявки";</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-e">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-e" aria-expanded="false" aria-controls="q-e">
                        Кто может заключить договор на обучение и произвести оплату заявки?
                    </button>
                </h2>
                <div id="q-e" class="accordion-collapse collapse" aria-labelledby="qh-e" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">
                        <strong>Выделение информации жирным</strong> ыфв оы отвофыв то ыываыа ыв раы рвары рвра рырвра рыволр аывло раолыр
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-f">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-f" aria-expanded="false" aria-controls="q-f">
                        Могу ли я пройти обучение на курсах, если у меня нет педагогического образования?
                    </button>
                </h2>
                <div id="q-f" class="accordion-collapse collapse" aria-labelledby="qh-f" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">
                        <strong>Выделение информации жирным</strong> ыфв оы отвофыв то ыываыа ыв раы рвары рвра рырвра рыволр аывло раолыр
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="qh-g">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-g" aria-expanded="false" aria-controls="q-g">
                        Как будет проходить обучение?
                    </button>
                </h2>
                <div id="q-g" class="accordion-collapse collapse" aria-labelledby="qh-g" data-bs-parent="#questionsAccordian">
                    <div class="accordion-body">
                        <strong>Выделение информации жирным</strong> ыфв оы отвофыв то ыываыа ыв раы рвары рвра рырвра рыволр аывло раолыр
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("FeedbackPartial")