@{
    ViewBag.Title = "Охрана труда";
}
<div class="content-container">
    @await Html.PartialAsync("NavigationPartial")
    @await Html.PartialAsync("GalleryPartial")
    <p>В 2022 году вступают в силу новые положения Трудового кодекса Российской Федерации по охране труда, а также подзаконные нормативные правовые акты, регулирующие вопросы организации системы управления охраной труда у работодателей.</p>
    <p>В связи с этим возникает необходимость <b>внепланового обучения</b> по охране труда и <b>внеплановой проверки знаний</b> требований охраны труда работников.</p>
    <p>АНО ДПО «МЕЖИНТЕХКОМ» проводит обучение и проверку знаний по дополнительной профессиональной программе повышения квалификации <b>«Внеплановая про верка знаний требований охраны труда»</b> в объёме 16 часов.</p>
    <p>При успешной сдаче итоговой аттестации выдаётся Протокол о проверке знаний, Удостоверение о повышение квалификации и Удостоверение о внеплановой проверке знаний.</p>
    <div class="accordion labor" id="laborAccordian">
        <div class="accordion-item">
            <h2 class="accordion-header" id="qh-a">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-a" aria-expanded="true" aria-controls="q-a">
                    Нормативно–правовые акты
                </button>
            </h2>
            <div id="q-a" class="accordion-collapse collapse" aria-labelledby="qh-a" data-bs-parent="#laborAccordian">
                <div class="accordion-body">
                    <div class="files">
                        <a class="file" href="~/documents/NPA1.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Федеральный закон от 02.07.2021 г. № 311ФЗ</h1>
                                <h2 class="desc">«О внесении изменений в Трудовой кодекс Российской Федерации  (Изменения в трудовом законодательстве об охране труда Раздел X Трудового кодекса Российской Федерации)»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA2.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Федеральный закон от 22.11.2021 г. № 377ФЗ</h1>
                                <h2 class="desc">«О внесении изменений в отдельные законодательные акты Российской Федерации (Электронный документооборот в сфере трудовых отношений)»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA3.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Распоряжение Правительства Российской Федерации от 04.12.2021 г. № 3455-р</h1>
                                <h2 class="desc">«Об утверждении перечня работ, на которые не распространяется запрет, установленный статьей 214.1 Трудового кодекса Российской Федерации»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA4.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 13.05.2021 г. № 313н</h1>
                                <h2 class="desc">«О внесении изменений в приказ Министерства труда и социальной защиты Российской Федерации от 18 июля 2019 г. № 512н "Об утверждении перечня производств, работ и должностей с вредными и (или) опасными условиями труда, на которых ограничивается применение труда женщин»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA5.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 17 июня 2021 г. № 406н</h1>
                                <h2 class="desc">«О форме и Порядке подачи декларации соответствия условий труда государственным нормативным требованиям охраны труда, Порядке формирования и ведения реестра деклараций соответствия условий труда государственным нормативным требованиям охраны труда»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA6.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 14 сентября 2021 г. № 629н</h1>
                                <h2 class="desc">«Об утверждении предельно допустимых норм нагрузок для женщин при подъеме и перемещении тяжестей вручную»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA7.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 15 сентября 2021 г. № 632н</h1>
                                <h2 class="desc">«Об утверждении рекомендаций по учету микроповреждений (микротравм) работников»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA8.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 22.09.2021 г. № 650н</h1>
                                <h2 class="desc">«Об утверждении примерного положения о комитете (комиссии) по охране труда»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA9.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 22.09.2021 г. № 656н</h1>
                                <h2 class="desc">«Об утверждении примерного перечня мероприятий по предотвращению случаев повреждения здоровья работников (при производстве работ (оказании услуг) на территории, находящейся под контролем другого работадателя (иного лица)»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA10.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 22.09.2021 г. № 757н</h1>
                                <h2 class="desc">«Об утверждении формы сертификата эксперта на право выполнения работ по специальной оценке условий труда, технических требований к нему, инструкции по заполнению бланка сертификата эксперта на право выполнения работ по специальной оценке условий труда и Порядка формирования и ведения реестра экспертов организаций, проводящих специальную оценку условий труда»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA11.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 28.10.2021 г. № 765н</h1>
                                <h2 class="desc">«Об утверждении типовых форм документов, необходимых для проведения государственной экспертизы условий труда»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA12.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 29.09.2021 г. № 771н</h1>
                                <h2 class="desc">«Об утверждении Примерного перечня ежегодно реализуемых работодателем мероприятий по улучшению условий и охраны труда, ликвидации или снижению уровней профессионалтных рисков либо непопущению повышения их уровней»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA13.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 772н</h1>
                                <h2 class="desc">«Об утверждении основных требований к порядку разработки и содержанию правил и инструкций по охране труда, разрабатываемых работодателем»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA14.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 773н</h1>
                                <h2 class="desc">«Об утверждении форм (способов) информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда, и примерного перечня информационных материалов в целях информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA15.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 29 октября 2021 г. № 774н</h1>
                                <h2 class="desc">«Об утверждении общих требований к организации безопасного рабочего места»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA16.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 № 775н</h1>
                                <h2 class="desc">«Об утверждении Порядка проведения государственной экспертизы условий труда»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA17.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 776н</h1>
                                <h2 class="desc">«Об утверждении Примерного положения о системе управления охраной труда»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA18.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 28 декабря 2021 г. № 796</h1>
                                <h2 class="desc">«Об утверждении Рекомендаций по выбору методов оценки уровней профессиональных рисков по снижению уровней таких рисков»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA19.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 17 декабря 2021 г. № 894</h1>
                                <h2 class="desc">«Об утверждении рекомендаций по размещению работодателем информационных материалов в целях информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA20.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты Российской Федерации от 28.12.2021 г. № 926</h1>
                                <h2 class="desc">«Об утверждении Рекомендаций по выбору методов оценки уровней профессиональных рисков и по снижению уровней таких рисков»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA21.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства Российской Федерации по делам гражданской обороны, чрезвычайным ситуациям и ликвидации последствий стихийных бедствий от 05.09.2021 г. № 596</h1>
                                <h2 class="desc">«Об утверждении типовых дополнительных профессиональных программ в области пожарной безопасности»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA22.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства Российской Федерации по делам гражданской обороны, чрезвычайным ситуациям и ликвидации последствий стихийных бедствий от 18.11.2021 г. № 806</h1>
                                <h2 class="desc">«Об определении Порядка, видов, сроков обучения лиц, осуществляющих трудовую или служебную деятельность в организациях, по программам противопожарного инструктажа, требований к содержанию указанных и категорий лиц, проходящих обучение по дополнительным профессиональным программам в области пожарной безопасности»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA23.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Минздрава России от 24.11.2021 г. № 1092н</h1>
                                <h2 class="desc">«Об утверждении порядка проведения обязательного медицинского освидетельствования водителей транспортных средств (кандидатов в водители транспортных средств), порядка выдачи и формы медицинского заключения о наличии (об отсутствии) у водителей транспортных средств (кандидатов в водители транспортных средств) медицинских противопоказаний, медицинских показаний или медицинских ограничений к управлению транспортными средствами, а также о признании утратившими силу отдельных приказов Министерства здравоохранения Российской Федерации»</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/NPA24.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Приказ Министерства труда и социальной защиты РФ от 17.03.2022 г. № 140н (к Приказу от 29.10.2021 г. № 772н)</h1>
                                <h2 class="desc">О неприменении приказа министерства труда и социальной защиты российской федерации от 29 октября 2021 г. N 772Н</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="qh-b">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-b" aria-expanded="false" aria-controls="q-b">
                    Программа обучения
                </button>
            </h2>
            <div id="q-b" class="accordion-collapse collapse" aria-labelledby="qh-b" data-bs-parent="#laborAccordian">
                <div class="accordion-body">
                    <a class="file" href="~/documents/laborup.pdf">
                        <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                        <div class="info">
                            <h1 class="title">Учебный план программы "Внеплановая проверка знаний требований охраны труда"</h1>
                            <h2 class="desc">Официальный утвержденный документ, с количеством часов обучения</h2>
                        </div>
                    </a>
                    <ol>
                        <li>
                            Государственное управление охраной труда и требования охраны труда
                            <ul class="list-unstyled">
                                <li>
                                    1.1 Государственное управление охраной труд
                                    <ul class="list-unstyled">
                                        <li>&bull; Федеральный закон от 02.07.2021 № 311­ФЗ «О внесении изменений в Трудовой кодекс Российской Федерации»</li>
                                    </ul>
                                </li>
                                <li>
                                    1.2 Государственные нормативные требования охраны труда и национальные стандарты безопасности труда
                                    <ul class="list-unstyled">
                                        <li>&bull; Федеральный закон от 02.07.2021 № 311­ФЗ «О внесении изменений в Трудовой кодекс Российской Федерации»</li>
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 774н «Об утверждении общих требований к организации безопасного рабочего места»</li>
                                    </ul>
                                </li>
                                <li>
                                    1.3 Государственная экспертиза условий труда
                                    <ul class="list-unstyled">
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 775н «Об утверждении Порядка проведения государственной экспертизы условий труда»</li>
                                    </ul>
                                </li>
                                <li>
                                    1.4 Соответствие зданий, сооружений, оборудования, технологических процессов и материалов государственным нормативным требованиям охраны труда
                                    <ul class="list-unstyled">
                                        <li>&bull; Федеральный закон от 02.07.2021 № 311­ФЗ «О внесении изменений в Трудовой кодекс Российской Федерации»</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Права и обязанности работодателя и работника в области охраны труда
                            <ul class="list-unstyled">
                                <li>
                                    2.1. Права и обязанности работодателя в области охраны труда
                                    <ul class="list-unstyled">
                                        <li>&bull; Федеральный закон от 02.07.2021 № 311­ФЗ «О внесении изменений в Трудовой кодекс Российской Федерации»</li>
                                    </ul>
                                </li>
                                <li>
                                    2.2. Права и обязанности работника в области охраны труда
                                    <ul class="list-unstyled">
                                        <li>&bull; Федеральный закон от 02.07.2021 № 311­ФЗ «О внесении изменений в Трудовой кодекс Российской Федерации»</li>
                                    </ul>
                                </li>
                                <li>
                                    2.3. Гарантии права работников на труд в условиях, соответствующих требованиям охраны труда
                                    <ul class="list-unstyled">
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 771н «Об утверждении Примерного перечня ежегодно реализуемых работодателем мероприятий по улучшению условий и охраны труда, ликвидации или снижению уровней профессиональных рисков либо недопущению повышения их уровней»</li>
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 22.09.2021 г. № 656н «Об утверждении примерного перечня мероприятий по предотвращению случаев повреждения здоровья работников (при производстве работ (оказании услуг) на территории, находящейся под контролем другого работодателя (иного лица)»</li>
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 774н «Об утверждении общих требований к организации безопасного рабочего места»</li>
                                    </ul>
                                </li>
                                <li>
                                    2.4. Право работника на получение информации об условиях и охране труда
                                    <ul class="list-unstyled">
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 773н «Об утверждении форм (способов) информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда, и примерного перечня информационных материалов в целях информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда»</li>
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 17.12.2021 г. № 894 «Об утверждении рекомендаций по размещению работодателем информационных материалов в целях информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда»</li>
                                        <li>&bull; Постановление Правительства РФ от 24.12.2021 г.  № 2464 «О порядке обучения по охране труда и проверки знания требований охраны труда»</li>
                                    </ul>
                                </li>
                                <li>
                                    2.5. Обеспечение права работников на санитарно-бытовое обслуживание
                                    <ul class="list-unstyled">
                                        <li>&bull; Федеральный закон от 02.07.2021 № 311­ФЗ «О внесении изменений в Трудовой кодекс Российской Федерации»</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Управление охраной труда
                            <ul class="list-unstyled">
                                <li>
                                    3.1. Система управления охраной труда
                                    <ul class="list-unstyled">
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 776н «Об утверждении Примерного положения о системе управления охраной труда»</li>
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г.  № 766н «Об утверждении Правил обеспечения работников средствами индивидуальной защиты и смывающими средствами»</li>
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 772н «Об утверждении основных требований к порядку разработки и содержанию правил и инструкций по охране труда, разрабатываемых работодателем»</li>
                                    </ul>
                                </li>
                                <li>
                                    3.2. Профессиональные риски
                                    <ul class="list-unstyled">
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 28.12.2021 г. № 796 «Об утверждении Рекомендаций по выбору методов оценки уровней профессиональных рисков и по снижению уровней таких рисков»</li>
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 31.01.2022 г. № 36 «Об утверждении Рекомендаций по классификации, обнаружению, распознаванию и описанию опасностей»</li>
                                    </ul>
                                </li>
                                <li>
                                    3.3. Медицинские осмотры некоторых категорий работников
                                    <ul class="list-unstyled">
                                        <li>&bull; Приказ Минздрава России от 28.01.2021 г. № 29н «Об утверждении Порядка проведения обязательных предварительных и периодических медицинских осмотров работников, предусмотренных частью четвертой статьи 213 Трудового кодекса Российской Федерации, перечня медицинских противопоказаний к осуществлению работ с вредными и (или) опасными производственными факторами, а также работам, при выполнении которых проводятся обязательные предварительные и периодические медицинские осмотры»</li>
                                        <li>&bull; Приказ Минтруда России № 988н, Минздрава России № 1420н от 31.12.2020 г. «Об утверждении перечня вредных и (или) опасных производственных факторов и работ, при выполнении которых проводятся обязательные предварительные медицинские осмотры при поступлении на работу и периодические медицинские осмотры»</li>
                                    </ul>
                                </li>
                                <li>
                                    3.4. Служба охраны труда у работодателя
                                    <ul class="list-unstyled">
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 31.01.2022 г. № 37 «Об утверждении Рекомендаций по структуре службы охраны труда в организации и по численности работников службы охраны труда»</li>
                                    </ul>
                                </li>
                                <li>
                                    3.5. Комитеты (комиссии) по охране труда
                                    <ul class="list-unstyled">
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 22.09.2021 г. № 650н «Об утверждении примерного положения о комитете (комиссии) по охране труда»</li>
                                    </ul>
                                </li>
                                <li>
                                    3.6. Обеспечение охраны здоровья женщин на отдельных работах
                                    <ul class="list-unstyled">
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 14.09.2021 г. № 629н «Об утверждении предельно допустимых норм нагрузок для женщин при подъеме и перемещении тяжестей вручную»</li>
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 13.05.2021 г. № 313н «О внесении изменений в приказ Министерства труда и социальной защиты Российской Федерации от 18 июля 2019 г. № 512н "Об утверждении перечня производств, работ и должностей с вредными и (или) опасными условиями труда, на которых ограничивается применение труда женщин»</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Расследование, оформление (рассмотрение), учет микроповреждений (микротравм), несчастных случаев
                            <ul class="list-unstyled">
                                <li>
                                    4.1. Микроповреждения (микротравмы)
                                    <ul class="list-unstyled">
                                        <li>&bull; Приказ Министерства труда и социальной защиты Российской Федерации от 15.09.2021 г. № 632н «Об утверждении рекомендаций по учету микроповреждений (микротравм) работников»</li>
                                    </ul>
                                </li>
                                <li>
                                    4.2. Несчастные случаи
                                    <ul class="list-unstyled">
                                        <li>&bull; Проект Приказа Министерства труда и социальной защиты Российской Федерации «Об утверждении Положения об особенностях расследования несчастных случаев на производстве»</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Итоговая аттестация
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <h5 style="margin-top: 15px;"><b>Внеплановая проверка знаний требований охраны труда</b></h5>
    <ul class="list-unstyled">
        <li><b>Актуальность:</b> с 1 марта 2022 года</li>
        <li><b>Должностная категория:</b> руководители, специалисты</li>
        <li><b>Вид обучения:</b> повышение квалификации</li>
        <li><b>Вид программы:</b> дополнительная профессиональная программа</li>
        <li><b>Количество часов обучения:</b> 16</li>
        <li><b>Количество учебных дней (общее):</b> 2</li>
        <li><b>Форма обучения:</b> очно-заочная</li>
        <li><b>Вид выдаваемого документа:</b> удостоверение о повышении квалификации, удостоверение о проверке знаний</li>
    </ul>

    <p><b>Стоимость обучения</b> - индивидуальная, в зависимости от количества обучающихся и действующих контрактов образовательной организации.</p>
    <p>Получить дополнительную информацию и зарегистрироваться на обучение можно также по телефону гор.: 8(495) 122-20-06, сот.: 8(939) 849-09-62, ватсап, телеграмм, e-mail: info@mezhintekhkom.ru</p>

    <div class="accordion labor" id="laborDocsAccordian">
        <div class="accordion-item">
            <h2 class="accordion-header" id="lh-a">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#l-a" aria-expanded="true" aria-controls="l-a">
                    Теория и документы
                </button>
            </h2>
            <div id="l-a" class="accordion-collapse collapse" aria-labelledby="lh-a" data-bs-parent="#laborDocsAccordian">
                <div class="accordion-body">
                    <div class="files">
                        <a class="file" href="~/documents/presentation1.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Презентация 1</h1>
                                <h2 class="desc">"Нормативное правовое регулирование по охране труда"</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/presentation2.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Презентация 2</h1>
                                <h2 class="desc">"Об утверждении примерного перечня ежегодно реализуемых работодателем мероприятий по улучшению условий и охраны труда, ликвидации или снижению уровней профессиональных рисков либо недопущению повышения их уровней"</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/presentation3.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Презентация 3</h1>
                                <h2 class="desc">"Перечень работ, на которые не распространяется запрет, установленный статьей 214.1 трудового кодекса российской федерации"</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/presentation4.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Презентация 4</h1>
                                <h2 class="desc">"Об утверждении предельно допустимых норм нагрузок для женщин при подъёме и перемещении тяжестей вручную"</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/presentation5.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Презентация 5</h1>
                                <h2 class="desc">"Об утверждении рекомендаций по размещению работодателем информационных материалов в целях информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда"</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/presentation6.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Презентация 6</h1>
                                <h2 class="desc">"Об утверждении форм (способов) информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда, и примерного перечня информационных материалов в целях информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда"</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/presentation7.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Презентация 7</h1>
                                <h2 class="desc">"Нормативно правовые документы: Приказы Минтруда РФ №406н, 775н, 757н, 765н"</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/presentation8.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Презентация 8</h1>
                                <h2 class="desc">"Анализ изменений требований к обучению мерам пожарной безопасности"</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/presentation9.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Презентация 9</h1>
                                <h2 class="desc">"Примерное положение о системе управления охраной труда"</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/presentation10.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Презентация 10</h1>
                                <h2 class="desc">"Рекомендации по выбору методов оценки уровней профессиональных рисков и по снижению уровней таких рисков"</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/presentation11.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Презентация 11</h1>
                                <h2 class="desc">"Рекомендации по классификации, обнаружению, распознаванию и описанию опасностей"</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="lh-b">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#l-b" aria-expanded="false" aria-controls="l-b">
                    Итоговая аттестация
                </button>
            </h2>
            <div id="l-b" class="accordion-collapse collapse" aria-labelledby="lh-b" data-bs-parent="#laborDocsAccordian">
                <div class="accordion-body">
                    <p>Для успешного окончания обучения и получения соответствующих документов, Вам необходимо ответить на вопросы теста Итоговой аттестации.</p>
                    <p>Тестирование проводится с выбором одного или нескольких правильных ответов.</p>
                    <p>Перед выполнением заданий ознакомьтесь с инструкцией.</p>

                    <b>Инструкция:</b>
                    <ol>
                        <li>Откройте и/или распечатайте Бланк ответов на тестовые вопросы Итоговой аттестации</li>
                        <li>Откройте и/или распечатайте Тестовые вопросы Итоговой аттестации</li>
                        <li>Заполните удобным для Вас способом Бланк ответов</li>
                    </ol>

                    <p>Вашим ответом будет считаться любая пометка в нужном варианте ответа.</p>
                    <p>Отправьте в электронном виде Бланк ответов куратору обучения или преподавателю.</p>

                    <div class="files">
                        <a class="file" href="~/documents/Тесты по ОТ.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Тестовые вопросы Итоговой аттестации</h1>
                                <h2 class="desc">по учебной программе "Внеочередная проверка знаний требований охраны труда"</h2>
                            </div>
                        </a>
                        <a class="file" href="~/documents/Бланк к тестам по ОТ.pdf">
                            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                            <div class="info">
                                <h1 class="title">Бланк ответов на тестовые вопросы Итоговой аттестации</h1>
                                <h2 class="desc">по учебной программе "Внеочередная проверка знаний требований охраны труда"</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>