@{
    ViewBag.Title = "Охрана труда";
}
<div class="content-container">
    @await Html.PartialAsync("NavigationPartial")
    В 2022 году вступают в силу новые положения Трудового кодекса Российской Федерации по охране труда, а также подзаконные нормативные правовые акты, регулирующие вопросы организации системы управления охраной труда у работодателей.
    В связи с этим возникает необходимость внепланового обучения по охране труда и внеплановой проверки знаний требований охраны труда работников.
    АНО ДПО «МЕЖИНТЕХКОМ» проводит обучение и проверку знаний по дополнительной профессиональной программе повышения квалификации «Внеплановая про верка знаний требований охраны труда» в объёме 16 часов.
    При успешной сдаче итоговой аттестации выдаётся Протокол о проверке знаний, Удостоверение о повышение квалификации и Удостоверение о внеплановой проверке знаний.
    + НОРМАТИВНО – ПРАВОВЫЕ АКТЫ:
    Федеральный закон от 02.07.2021 № 311¬ФЗ
    «О внесении изменений в Трудовой кодекс Российской Федерации  (Изменения в трудовом законодательстве об охране труда Раздел X Трудового кодекса Российской Федерации)»
    Федеральный закон от 02.07.2021 г. № 377-ФЗ
    «О внесении изменений в отдельные законодательные акты Российской Федерации (Электронный документооборот в сфере трудовых отношений)»
    Распоряжение Правительства Российской Федерации от 04.12.2021 г. № 3455-р
    «Об утверждении перечня работ, на которые не распространяется запрет, установленный статьей 214.1 Трудового кодекса Российской Федерации»
    Приказ Министерства труда и социальной защиты Российской Федерации от 13.05.2021 г. № 313н
    «О внесении изменений в приказ Министерства труда и социальной защиты Российской Федерации от 18 июля 2019 г. № 512н "Об утверждении перечня производств, работ и должностей с вредными и (или) опасными условиями труда, на которых ограничивается применение труда женщин»
    Приказ Министерства труда и социальной защиты Российской Федерации от 17 июня 2021 г. № 406н
    «О форме и Порядке подачи декларации соответствия условий труда государственным нормативным требованиям охраны труда, Порядке формирования и ведения реестра деклараций соответствия условий труда государственным нормативным требованиям охраны труда»
    Приказ Министерства труда и социальной защиты Российской Федерации от 14 сентября 2021 г. № 629н
    «Об утверждении предельно допустимых норм нагрузок для женщин при подъеме и перемещении тяжестей вручную»
    Приказ Министерства труда и социальной защиты Российской Федерации от 15 сентября 2021 г. № 632н
    «Об утверждении рекомендаций по учету микроповреждений (микротравм) работников»
    Приказ Министерства труда и социальной защиты Российской Федерации от 22.09.2021 г. № 650н
    «Об утверждении примерного положения о комитете (комиссии) по охране труда»
    Приказ Министерства труда и социальной защиты Российской Федерации от 22.09.2021 г. № 656н
    «Об утверждении примерного перечня мероприятий по предотвращению случаев повреждения здоровья работников (при производстве работ (оказании услуг) на территории, находящейся под контролем другого работадателя (иного лица)»
    Приказ Министерства труда и социальной защиты Российской Федерации от 22.09.2021 г. № 757н
    «Об утверждении формы сертификата эксперта на право выполнения работ по специальной оценке условий труда, технических требований к нему, инструкции по заполнению бланка сертификата эксперта на право выполнения работ по специальной оценке условий труда и Порядка формирования и ведения реестра экспертов организаций, проводящих специальную оценку условий труда»
    Приказ Министерства труда и социальной защиты Российской Федерации от 28.10.2021 г. № 765н
    «Об утверждении типовых форм документов, необходимых для проведения государственной экспертизы условий труда»
    Приказ Министерства труда и социальной защиты Российской Федерации от 29.09.2021 г. № 771н
    «Об утверждении Примерного перечня ежегодно реализуемых работодателем мероприятий по улучшению условий и охраны труда, ликвидации или снижению уровней профессионалтных рисков либо непопущению повышения их уровней»
    Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 772н
    «Об утверждении основных требований к порядку разработки и содержанию правил и инструкций по охране труда, разрабатываемых работодателем»
    Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 773н
    «Об утверждении форм (способов) информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда, и примерного перечня информационных материалов в целях информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда»
    Приказ Министерства труда и социальной защиты Российской Федерации от 29 октября 2021 г. № 774н
    «Об утверждении общих требований к организации безопасного рабочего места»
    Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 № 775н
    «Об утверждении Порядка проведения государственной экспертизы условий труда»
    Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 776н
    «Об утверждении Примерного положения о системе управления охраной труда»
    Приказ Министерства труда и социальной защиты Российской Федерации от 28 декабря 2021 г. № 796
    «Об утверждении Рекомендаций по выбору методов оценки уровней профессиональных рисков по снижению уровней таких рисков»
    Приказ Министерства труда и социальной защиты Российской Федерации от 17 декабря 2021 г. № 894
    «Об утверждении рекомендаций по размещению работодателем информационных материалов в целях информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда»
    Приказ Министерства труда и социальной защиты Российской Федерации от 28.12.2021 г. № 926
    «Об утверждении Рекомендаций по выбору методов оценки уровней профессиональных рисков и по снижению уровней таких рисков»
    Приказ Министерства Российской Федерации по делам гражданской обороны, чрезвычайным ситуациям и ликвидации последствий стихийных бедствий от 05.09.2021 г. № 596
    «Об утверждении типовых дополнительных профессиональных программ в области пожарной безопасности»
    Приказ Министерства Российской Федерации по делам гражданской обороны, чрезвычайным ситуациям и ликвидации последствий стихийных бедствий от 18.11.2021 г. № 806
    «Об определении Порядка, видов, сроков обучения лиц, осуществляющих трудовую или служебную деятельность в организациях, по программам противопожарного инструктажа, требований к содержанию указанных и категорий лиц, проходящих обучение по дополнительным профессиональным программам в области пожарной безопасности»
    Приказ Минздрава России от 24.11.2021 г. № 1092н
    «Об утверждении порядка проведения обязательного медицинского освидетельствования водителей транспортных средств (кандидатов в водители транспортных средств), порядка выдачи и формы медицинского заключения о наличии (об отсутствии) у водителей транспортных средств (кандидатов в водители транспортных средств) медицинских противопоказаний, медицинских показаний или медицинских ограничений к управлению транспортными средствами, а также о признании утратившими силу отдельных приказов Министерства здравоохранения Российской Федерации»

    + ПРОГРАММА ОБУЧЕНИЯ:
    Учебный план программы "Внеплановая проверка знаний требований охраны труда"
    Официальный утвержденный документ, с количеством часов обучения.
    1. Государственное управление охраной труда и требования охраны труда
    1.1. Государственное управление охраной труд
    ■  Федеральный закон от 02.07.2021 № 311¬ФЗ «О внесении изменений в Трудовой кодекс Российской Федерации»
    1.2. Государственные нормативные требования охраны труда и национальные стандарты безопасности труда
    ■  Федеральный закон от 02.07.2021 № 311¬ФЗ «О внесении изменений в Трудовой кодекс Российской Федерации»
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 774н «Об утверждении общих требований к организации безопасного рабочего места»
    1.3. Государственная экспертиза условий труда
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 775н «Об утверждении Порядка проведения государственной экспертизы условий труда»
    1.4. Соответствие зданий, сооружений, оборудования, технологических процессов и материалов государственным нормативным требованиям охраны труда
    ■  Федеральный закон от 02.07.2021 № 311¬ФЗ «О внесении изменений в Трудовой кодекс Российской Федерации»
    2. Права и обязанности работодателя и работника в области охраны труда
    2.1. Права и обязанности работодателя в области охраны труда
    ■  Федеральный закон от 02.07.2021 № 311¬ФЗ «О внесении изменений в Трудовой кодекс Российской Федерации»
    2.2. Права и обязанности работника в области охраны труда
    ■  Федеральный закон от 02.07.2021 № 311¬ФЗ «О внесении изменений в Трудовой кодекс Российской Федерации»
    2.3. Гарантии права работников на труд в условиях, соответствующих требованиям охраны труда
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 771н «Об утверждении Примерного перечня ежегодно реализуемых работодателем мероприятий по улучшению условий и охраны труда, ликвидации или снижению уровней профессиональных рисков либо недопущению повышения их уровней»
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 22.09.2021 г. № 656н «Об утверждении примерного перечня мероприятий по предотвращению случаев повреждения здоровья работников (при производстве работ (оказании услуг) на территории, находящейся под контролем другого работодателя (иного лица)»
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 774н «Об утверждении общих требований к организации безопасного рабочего места»
    2.4. Право работника на получение информации об условиях и охране труда
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 773н «Об утверждении форм (способов) информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда, и примерного перечня информационных материалов в целях информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда»
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 17.12.2021 г. № 894 «Об утверждении рекомендаций по размещению работодателем информационных материалов в целях информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда»
    ■  Постановление Правительства РФ от 24.12.2021 г.  № 2464 «О порядке обучения по охране труда и проверки знания требований охраны труда»
    2.5. Обеспечение права работников на санитарно-бытовое обслуживание
    ■  Федеральный закон от 02.07.2021 № 311¬ФЗ «О внесении изменений в Трудовой кодекс Российской Федерации»
    3. Управление охраной труда
    3.1. Система управления охраной труда
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 776н «Об утверждении Примерного положения о системе управления охраной труда»
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г.  № 766н «Об утверждении Правил обеспечения работников средствами индивидуальной защиты и смывающими средствами»
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 29.10.2021 г. № 772н «Об утверждении основных требований к порядку разработки и содержанию правил и инструкций по охране труда, разрабатываемых работодателем»
    3.2. Профессиональные риски
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 28.12.2021 г. № 796 «Об утверждении Рекомендаций по выбору методов оценки уровней профессиональных рисков и по снижению уровней таких рисков»
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 31.01.2022 г. № 36 «Об утверждении Рекомендаций по классификации, обнаружению, распознаванию и описанию опасностей»
    3.3. Медицинские осмотры некоторых категорий работников
    ■  Приказ Минздрава России от 28.01.2021 г. № 29н «Об утверждении Порядка проведения обязательных предварительных и периодических медицинских осмотров работников, предусмотренных частью четвертой статьи 213 Трудового кодекса Российской Федерации, перечня медицинских противопоказаний к осуществлению работ с вредными и (или) опасными производственными факторами, а также работам, при выполнении которых проводятся обязательные предварительные и периодические медицинские осмотры»
    ■  Приказ Минтруда России № 988н, Минздрава России № 1420н от 31.12.2020 г. «Об утверждении перечня вредных и (или) опасных производственных факторов и работ, при выполнении которых проводятся обязательные предварительные медицинские осмотры при поступлении на работу и периодические медицинские осмотры»
    3.4. Служба охраны труда у работодателя
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 31.01.2022 г. № 37 «Об утверждении Рекомендаций по структуре службы охраны труда в организации и по численности работников службы охраны труда»
    3.5. Комитеты (комиссии) по охране труда
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 22.09.2021 г. № 650н «Об утверждении примерного положения о комитете (комиссии) по охране труда»
    3.6. Обеспечение охраны здоровья женщин на отдельных работах
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 14.09.2021 г. № 629н «Об утверждении предельно допустимых норм нагрузок для женщин при подъеме и перемещении тяжестей вручную»
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 13.05.2021 г. № 313н «О внесении изменений в приказ Министерства труда и социальной защиты Российской Федерации от 18 июля 2019 г. № 512н "Об утверждении перечня производств, работ и должностей с вредными и (или) опасными условиями труда, на которых ограничивается применение труда женщин»
    4. Расследование, оформление (рассмотрение), учет микроповреждений (микротравм), несчастных случаев
    4.1. Микроповреждения (микротравмы)
    ■  Приказ Министерства труда и социальной защиты Российской Федерации от 15.09.2021 г. № 632н «Об утверждении рекомендаций по учету микроповреждений (микротравм) работников»
    4.2. Несчастные случаи
    ■  Проект Приказа Министерства труда и социальной защиты Российской Федерации «Об утверждении Положения об особенностях расследования несчастных случаев на производстве»
    5. Итоговая аттестация


    Внеплановая проверка знаний требований охраны труда
    Актуальность: с 1 марта 2022 года
    Должностная категория: Руководители, Специалисты
    Вид обучения: Повышение квалификации
    Вид программы: Дополнительная профессиональная программа
    Количество часов обучения: 16
    Количество учебных дней (общее): 2
    Форма обучения: Очно-заочная
    Вид выдаваемого документа: Удостоверение о повышении квалификации. Удостоверение о проверке знаний

    Стоимость обучения - индивидуальная, в зависимости от количества обучающихся и действующих контрактов образовательной организации.
    Получить дополнительную информацию и зарегистрироваться на обучение можно также по телефону гор.: 8(495) 122-20-06, сот.: 8(939) 849-09-62, ватсап, телеграмм, e-mail: info@mezhintekhkom.ru

    + ТЕОРИЯ И ДОКУМЕНТЫ:
    Презентация 1
    "Нормативное правовое регулирование по охране труда"
    Презентация 2
    "Об утверждении примерного перечня ежегодно реализуемых работодателем мероприятий по улучшению условий и охраны труда, ликвидации или снижению уровней профессиональных рисков либо недопущению повышения их уровней"
    Презентация 3
    "Перечень работ, на которые не распространяется запрет, установленный статьей 214.1 трудового кодекса российской федерации"
    Презентация 4
    "Об утверждении предельно допустимых норм нагрузок для женщин при подъёме и перемещении тяжестей вручную"
    Презентация 5
    "Об утверждении рекомендаций по размещению работодателем информационных материалов в целях информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда"
    Презентация 6
    "Об утверждении форм (способов) информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда, и примерного перечня информационных материалов в целях информирования работников об их трудовых правах, включая право на безопасные условия и охрану труда"
    Презентация 7
    "Нормативно правовые документы: Приказы Минтруда РФ №406н, 775н, 757н, 765н"
    Презентация 8
    "Анализ изменений требований к обучению мерам пожарной безопасности"
    Презентация 9
    "Примерное положение о системе управления охраной труда"
    Презентация 10
    "Рекомендации по выбору методов оценки уровней профессиональных рисков и по снижению уровней таких рисков"
    Презентация 11
    "Рекомендации по классификации, обнаружению, распознаванию и описанию опасностей"

    + ИТОГОВАЯ АТТЕСТАЦИЯ

    Для успешного окончания обучения и получения соответствующих документов, Вам необходимо ответить на вопросы теста Итоговой аттестации.
    Тестирование проводится с выбором одного или нескольких правильных ответов.
    Перед выполнением заданий ознакомьтесь с ИНСТРУКЦИЕЙ.

    ИНСТРУКЦИЯ
    1. Откройте и/или распечатайте Бланк ответов на тестовые вопросы Итоговой аттестации.
    2. Откройте и/или распечатайте Тестовые вопросы Итоговой аттестации.
    3. Заполните удобным для Вас способом Бланк ответов.
    Вашим ответом будет считаться любая пометка в нужном варианте ответа.
    Отправьте в электронном виде Бланк ответов куратору обучения или преподавателю.

    Тестовые вопросы Итоговой аттестации
    по учебной программе "Внеочередная проверка знаний требований охраны труда"

    Бланк ответов на тестовые вопросы Итоговой аттестации
    по учебной программе "Внеочередная проверка знаний требований охраны труда"
</div>